// AССORDEON BLOCK
.accordeon-block
    h2.title2 Как осуществляется аутсорсинг охраны труда
    // ACCORDEON
    .accordeon
        // ACCORDEON ITEM
        .accordeon__item
            .accordeon__header(data-name="accordeon-title")
                .accordeon__num 1 #[span этап]
                h3.accordeon__title Абонентское сопровождение по охране труда
            // HIDDEN
            .accordeon__content
                .accordeon__text
                    p После разработки основного объёма документации мы продолжаем обеспечивать непрерывное методическое сопровождение, контроль и координацию работы по охране труда, в том числе:
                    ul
                        li осуществляем контроль за проведением обязательных мероприятий по охране труда;
                        li выполняем работы по актуализации необходимой документации с учётом изменений в законодательстве;
                        li проводим периодические проверки посредством выезда нашего специалиста на ваши объекты.
        // ACCORDEON ITEM
        .accordeon__item
            .accordeon__header(data-name="accordeon-title")
                .accordeon__num 2 #[span этап]
                h3.accordeon__title Построение Системы управления охраной труда
            // HIDDEN
            .accordeon__content
                .accordeon__text
                    p После разработки основного объёма документации мы продолжаем обеспечивать непрерывное методическое сопровождение, контроль и координацию работы по охране труда, в том числе:
                    ul
                        li осуществляем контроль за проведением обязательных мероприятий по охране труда;
                        li выполняем работы по актуализации необходимой документации с учётом изменений в законодательстве;
                        li проводим периодические проверки посредством выезда нашего специалиста на ваши объекты.
        // ACCORDEON ITEM
        .accordeon__item
            .accordeon__header(data-name="accordeon-title")
                .accordeon__num 3 #[span этап]
                h3.accordeon__title Абонентское сопровождение по охране труда
            // HIDDEN
            .accordeon__content
                .accordeon__text
                    p После разработки основного объёма документации мы продолжаем обеспечивать непрерывное методическое сопровождение, контроль и координацию работы по охране труда, в том числе:
                    ul
                        li осуществляем контроль за проведением обязательных мероприятий по охране труда;
                        li выполняем работы по актуализации необходимой документации с учётом изменений в законодательстве;
                        li проводим периодические проверки посредством выезда нашего специалиста на ваши объекты.