// AССORDEON TABLE BLOCK
.accordeon-table-block
    // ACCORDEON
    .accordeon.accordeon-table
        // ACCORDEON ITEM
        .accordeon__item
            .accordeon__header(data-name="accordeon-title")
                h3.accordeon__title Абонентское сопровождение по охране труда
            // HIDDEN
            .accordeon__content
                .accordeon__text
                    p Рассмотрим затраты на организации ведения охраны труда на примере предприятия общественного питания с численностью 50 человек
                // TABLE
                .table-acc
                    // TABLE HEAD
                    .table-acc-head
                        .table-acc-head__sell Параметр сравнения
                        .table-acc-head__sell Штатный специалист
                        .table-acc-head__sell Аутсорсинг
                    // TABLE BODY
                    .table-acc-body
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Оснащение рабочего места (разово)
                            .table-acc-row__sell от 40 000 ₽
                            .table-acc-row__sell 0 ₽
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Содержание рабочего места (ежемесячно)
                            .table-acc-row__sell от 1 000 ₽
                            .table-acc-row__sell 0 ₽
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Мин. зарплата/ стоимость услуг (ежемесячно)
                            .table-acc-row__sell от 50 000 ₽
                            .table-acc-row__sell 20 000 ₽
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Налог с ФОТ
                            .table-acc-row__sell от 24 000 ₽
                            .table-acc-row__sell 0 ₽
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Итог (6 месяцев)
                            .table-acc-row__sell от 450 000 ₽
                            .table-acc-row__sell от 120 000 ₽
        // ACCORDEON ITEM
        .accordeon__item
            .accordeon__header(data-name="accordeon-title")
                h3.accordeon__title Абонентское сопровождение по охране труда
            // HIDDEN
            .accordeon__content
                .accordeon__text
                    p Рассмотрим затраты на организации ведения охраны труда на примере предприятия общественного питания с численностью 50 человек
                // TABLE
                .table-acc
                    // TABLE HEAD
                    .table-acc-head
                        .table-acc-head__sell Параметр сравнения
                        .table-acc-head__sell Штатный специалист
                        .table-acc-head__sell Аутсорсинг
                    // TABLE BODY
                    .table-acc-body
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Оснащение рабочего места (разово)
                            .table-acc-row__sell от 40 000 ₽
                            .table-acc-row__sell 0 ₽
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Содержание рабочего места (ежемесячно)
                            .table-acc-row__sell от 1 000 ₽
                            .table-acc-row__sell 0 ₽
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Мин. зарплата/ стоимость услуг (ежемесячно)
                            .table-acc-row__sell от 50 000 ₽
                            .table-acc-row__sell 20 000 ₽
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Налог с ФОТ
                            .table-acc-row__sell от 24 000 ₽
                            .table-acc-row__sell 0 ₽
                        // TABLE ROW
                        .table-acc-row
                            .table-acc-row__sell Итог (6 месяцев)
                            .table-acc-row__sell от 450 000 ₽
                            .table-acc-row__sell от 120 000 ₽