// CATALOG-DOCS
.catalog-docs
    // catalog-docs-title
    .catalog-docs__title
        h2.title2 Образцы документов
    // CATEGORIES
    .categories-labels
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio" checked)
            span.category-label Показать все
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label Общие документы
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label Обучение
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label Инструктаж
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label Стажировка
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label инструкции
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label Медосмотры
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label сиз
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label Документы для выдачи СИЗ
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label электробезопасность
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label несчастные случаи
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label профессиональные заболевания
        label.category-label-wrapper
            input(name="doc-category" type="radio" class="real-radio")
            span.category-label Микротравмы
    // download-docs
    .download-docs.mb-48
        .download-docs__title
            h3.title3 Охрана труда. Общие документы:
        // download - docs - list
        ul.download-docs__list
            // download-docs - list - item
            li
                a(href="#!" download="")
                    img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                    span Положение о системе управления охраной труда (2022 г.)
            // download-docs - list - item
            li
                a(href="#!" download="")
                    img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                    span Политика организации в области охраны труда
            // download-docs - list - item
            li
                a(href="#!" download="")
                    img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                    span Приказ о назначении ответственного за охрану труда
    // download-docs
    .download-docs
        .download-docs__title
            h3.title3 Обучение по охране труда
        // download - docs - list
        ul.download-docs__list
            // download-docs - list - item
            li
                a(href="#!" download="")
                    img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                    span Приказ о создании комиссии по проверке знаний требований охраны труда
            // download-docs - list - item
            li
                a(href="#!" download="")
                    img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                    span Программа обучения «ОБЩИЕ ВОПРОСЫ ОХРАНЫ ТРУДА И ФУНКЦИОНИРОВАНИЯ СИСТЕМЫ УПРАВЛЕНИЯ ОХРАНОЙ ТРУДА; БЕЗОПАСНЫЕ МЕТОДЫ И ПРИЁМЫ ВЫПОЛНЕНИЯ РАБОТ ПРИ ВОЗДЕЙСТВИИ ВРЕДНЫХ, ОПАСНЫХ ПРОИЗВОДСТВЕННЫХ ФАКТОРОВ»
            // download-docs - list - item
            li
                a(href="#!" download="")
                    img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                    span Программа обучения «ОБЩИЕ ВОПРОСЫ ОХРАНЫ ТРУДА И ФУНКЦИОНИРОВАНИЯ СИСТЕМЫ УПРАВЛЕНИЯ ОХРАНОЙ ТРУДА; БЕЗОПАСНЫЕ МЕТОДЫ И ПРИЁМЫ ВЫПОЛНЕНИЯ РАБОТ ПРИ ВОЗДЕЙСТВИИ ВРЕДНЫХ, ОПАСНЫХ ПРОИЗВОДСТВЕННЫХ ФАКТОРОВ; ОКАЗАНИЕ ПЕРВОЙ ПОМОЩИ ПОСТРАДАВШИМ»
            // download-docs - list - item
            li
                a(href="#!" download="")
                    img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                    span Форма протокола проверки знаний по охране труда