// DOC-BANNER
.doc-banner.none
    // BANNER WRAPPER
    .doc-banner__wrapper
        .doc-banner__content
            .doc-banner__text Требуется полный комплект качественных документов по охране труда? #[span Мы&nbsp;разработаем!]
            ul.doc-banner__list
                li Готовим документацию от 3-х рабочих дней
                li Учтем специфику вашего производства
                li Поможем внедрить документы в действующую СУОТ компании
        a(href="#!").doc-banner__btn Подробнее
        // BANNER IMG
        .doc-banner__img
            img(src="./img/templates/character.svg" alt="character" width="280" height="280")