// DOWNLOAD-DOCS
.download-docs
    .download-docs__title
        h3.title3 Документы для скачивания:
    // download - docs - list
    ul.download-docs__list
        // download-docs - list - item
        li
            a(href="#!" download="")
                img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                span Акт заседания комиссии по проведению специальной оценки условий труда
        // download-docs - list - item
        li
            a(href="#!" download="")
                img(src="./img/icons/icon_download.svg" alt="icon" width="24" height="24")
                span Приказ об утверждении акта заседания комиссии по проведению специальной оценки условий труда
