// fixed-menu
.fixed-menu
    .menu-block
        a(href="cot.html").menu-block-link
            span центр охраны труда
            .menu-block__img
                img(src="./img/logo-menu/logo-menu01.webp" width="45" height="27" alt="logo" class="logo-menu-cot" loading="lazy")
        a(href="unionmed.html").menu-block-link
            span медицинский центр
            .menu-block__img
                img(src="./img/logo-menu/logo-menu02.webp" width="43" height="36" alt="logo" class="logo-menu-unimed" loading="lazy")
        a(href="center.html").menu-block-link
            span учебный центр
            .menu-block__img
                img(src="./img/logo-menu/logo-menu03.webp" width="45" height="45" alt="logo" class="logo-menu-center" loading="lazy")
        a(href="school.html").menu-block-link
            span школа охраны
            .menu-block__img
                img(src="./img/logo-menu/logo-menu04.webp" width="51" height="35" alt="logo" class="logo-menu-school" loading="lazy")
        a(href="index.html").menu-block-link
            span аутстаффинг персонала
            .menu-block__img
                img(src="./img/logo-menu/logo-menu05.webp" width="47" height="48" alt="logo" class="logo-menu-outstaff" loading="lazy")
        a(href="security.html").menu-block-link
            span охранная организация
            .menu-block__img
                img(src="./img/logo-menu/logo-menu06.webp" width="44" height="46" alt="logo" class="logo-menu-security" loading="lazy")