// FORM
.templates-form-block
    .section-wrapper
        .templates-form-block-row
            .templates-form-block__col
                .templates-form-block-content
                    // TEXT
                    .templates-form-block__title
                        h2.title2 Вы все ещё думаете?
                    p.templates-form-block__text Оставьте заявку, и наш менеджер свяжется с Вами, окажет необходимые консультации и ответит на все интересующие вопросы
            .templates-form-block-wrapper
                include ../blocks/templates-form.pug


