.cta .section-wrapper {
    position: relative;
    padding-bottom: 33px;
    background-color: #f1f1f1;
    overflow: hidden;

    @media (max-width: 1023px) {
        padding-top: 40px;
        padding-bottom: 56px;
    }

    @media (max-width: 767px) {
        padding-block: 56px;
    }
}

.cta .container {
    @media (max-width: 767px) {
        padding-inline: 28px;
    }
}

.cta-row {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1440px) {
        justify-content: space-between;
    }

    @media (max-width: 1330px) {
        flex-direction: column;
    }
}

.cta-content {
    max-width: 445px;
    margin-inline: auto;

    @media (max-width: 1330px) {
        max-width: 100%;
    }
}

.cta__title {
    margin-bottom: 20px;
    text-align: center;
}

.cta__text {
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    color: #6a6a6a;
}

.cta-row__col {
    width: 50%;
    @media (max-width: 1330px) {
        width: 100%;
    }

}

.cta-form-wrapper {
    padding-top: 41px;

    @media (max-width: 1660px) {
        margin-inline: auto;
        max-width: 482px;
    }

    @media (max-width: 932px) {
        max-width: 100%;
      }
}

.cta__bg-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    @media (max-width: 1330px) {
        display: none;
    }
}

.cta__bg-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    @media (max-width: 1330px) {
        display: none;
    }
}