.footer {
    padding-top: 17px;
    padding-bottom: 28px;
    background-color: #455966;

    @media (max-width: 1660px) {
        padding-top: 13px;
        padding-bottom: 23px;
    }
}

.footer .container {
    @media (max-width: 767px) {
        padding-inline: 0;
    }
}

.footer-row {
    display: flex;
    padding-bottom: 18px;
    border-bottom: 2px solid #909ca3;
    justify-content: space-between;

    @media (max-width: 767px) {
        border-bottom: 2px solid #fff;
    }
}

.footer-nav {
    padding-top: 20px;
    padding-right: 40px;
}

.footer-nav li + li {
    padding-top: 31px;
}

.footer-nav__link {
    column-gap: 11px;
    font-size: 18px;
    font-variant: small-caps;
    color: #ded9d9;
    text-transform: uppercase;

    .svg-down {
        position: relative;
        top: -4px;
        flex-shrink: 0;
        width: 9px;
        height: 5px;
    }
}

.footer__logo {
    flex-shrink: 0;
    margin-bottom: 21px;

    .svg-logo {
        color: var(--color-white);
        width: 157px;
        height: 94px;
    }
}

.footer__text {
    font-size: 11px;
    color: #909ca3;
    font-variant: small-caps;
}

.footer__text + .footer__text {
    margin-top: 5px;
}

.footer-contacts {
    padding-top: 20px;
    font-size: 15px;
    color: #909ca3;
}

.footer-contacts__item {
    display: block;
    margin-bottom: 10px;
}

.footer-col-social {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 28px;
}

.footer-social {
    padding-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}



.footer-social__item {
    display: flex;
    align-items: center;
    width: 39px;
    height: 39px;
    transition: .3s ease-in;

    &:hover {
        transform: scale(1.2);
    }

    svg {
        width: 100%;
        height: auto;
        color: var(--color-white);
    }
}

.footer-contacts__item--mb19 {
    margin-bottom: 19px;
}



.footer-qr {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer-qr__text {
    font-size: 16px;
    color: #ded9d9;
}

.footer-bottom {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: 1660px) {
        padding-inline: 35px;
        margin-top: 21px;
    }

    @media (max-width: 1023px) {
        width: 68%;
        margin-top: 11px;
        padding-inline: 0;
        flex-direction: column-reverse;
        row-gap: 12px;
        margin-inline: auto;
        align-items: center;
    }
}

.footer__copyright {
    font-size: 17px;
    width: 697px;
    color: #b8c0c6;

    @media (max-width: 1660px) {
        font-size: 12px;
        width: 493px;
        color: #909ca3;
    }

    @media (max-width: 1023px) {
        font-family: var(--second-family);
        width: 100%;
        font-weight: 350;
        font-size: 10px;
        line-height: 1.3;
        width: 290px;
        text-align: center;
    }

    @media (max-width: 767px) {
        color: var(--color-white);
    }
}


.footer__copyright--detail {
    width: 50%;
    color: #909ca3;

    @media (max-width: 1660px) {
        width: 593px;
        color: #b8c0c6;
    }

    @media (max-width: 1023px) {
        color: #a0a0a0;

    }

    @media (max-width: 767px) {
        display: none;
    }
}