.header {
    // position: sticky;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 5;
    padding-block: 32px;
    background-color: var(--bg-color);
    font-family: var(--second-family);

    @media (max-width: 1440px) {
        padding-inline: 25px;
        padding-block: 24px;
    }

    @media (max-width: 1023px) {
        padding-inline: 0px;
        padding-block: 12px;
    }

    @media (max-width: 768px) {
        padding-top: 46px;
        padding-bottom: 18px;
    }
}

.header .container {
    @media (max-width: 768px) {
        padding-left: 29px;
        padding-right: 27px;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-left {
    display: flex;
    align-items: center;
    column-gap: 25px;

    @media (max-width: 1660px) {
        column-gap: 30px;
    }

    @media (max-width: 1300px) {
        column-gap: 24px;
    }
}

.header__logo {
    flex-shrink: 0;
}

.header__logo .svg-logo {

    color: #F0EDED;
    width: 174px;
    height: 105px;

    @media (max-width: 1660px) {
        width: 131px;
        height: 79px;
    }

    @media (max-width: 1300px) {
        width: 79px;
        height: 48px;
    }

    @media (max-width: 768px) {
        width: 66px;
        height: 40px;
    }
}

.header-content-mob {
    display: none;
    align-items: center;
    column-gap: 36px;

    @media (max-width: 1300px) {
        display: flex;
      }

      @media (max-width: 768px) {
        column-gap: 24px;
      }
}

.header-content-mob
.svg-tg,
.svg-wa,
.svg-mail-mob,
.svg-phone-mob,
.svg-search-mob {
    fill: #ded9d9;
    color: #ded9d9;
}

.header-content-mob .svg-wa {
    width: 23px;
    height: 24px;

    @media (max-width: 480px) {
        width: 19px;
        height: 20px;
      }
}

.header-content-mob .svg-tg {
    width: 24px;
    height: 24px;

    @media (max-width: 480px) {
        width: 19px;
        height: 20px;
      }
}

.header-content-mob .svg-mail-mob {
    @media (max-width: 480px) {
        width: 19px;
        height: 16px;
      }
}

.header-content-mob .svg-phone-mob {
    width: 23px;
    height: 23px;

    @media (max-width: 480px) {
        width: 19px;
        height: 20px;
      }
}

.header-content-mob .svg-search-mob {
    @media (max-width: 480px) {
        width: 19px;
        height: 20px;
      }
}

.header-content {
    @media (max-width: 1300px) {
        display: none;
      }
}

.header-contacts {
    padding-top: 23px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    column-gap: 28px;

    @media (max-width: 1660px) {
        margin-bottom: 19px;
        column-gap: 20px;
    }
}

.contacts-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    color: var(--color-muted);
    white-space: nowrap;

    @media (max-width: 1660px) {
        font-size: 16px;
        column-gap: 7px;
    }
}

.contacts-item a {
    transition: .3s ease-in;

    &:hover,
    &:focus,
    &:visited {
        color: var(--color-white);
    }
}

.contacts-item .phone:not(:last-child) {
    margin-right: 22px;

    @media (max-width: 1660px) {
        margin-right: 16px;
    }
}

.contacts-item .svg-mail,
.svg-pin,
.svg-phone,
.svg-clock {
    color: var(--color-muted);

    @media (max-width: 1440px) {
        width: 16px;
        height: 13px;
    }
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 43px;
    font-size: 24px;

    @media (max-width: 1440px) {
        column-gap: 32px;
        font-size: 18px;
    }
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 41px;
    font-weight: 500;
    color: #ded9d9;

    @media (max-width: 1440px) {
        column-gap: 31px;
    }
}

.menu a {
    transition: .3s ease-in;

    &:hover {
        color: var(--color-muted);
    }
}

.header__search {
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-style: italic;
    font-weight: 300;
    color: #ded9d9;
}

.header__search .svg-search {
    @media (max-width: 1440px) {
        width: 18px;
        height: 18px;
    }
}