.outstaffing {
    padding-bottom: 60px;

    @media (max-width: 1660px) {
        padding-bottom: 45px;
    }

    @media (max-width: 1023px) {
        padding-bottom: 12px;
    }

    @media (max-width: 767px) {
        padding-bottom: 20px;
    }
}

.outstaffing-content {
    max-width: 854px;
}

.outstaffing-banner {
    background-color: #f1f1f1;
    border-radius: 70px;
    padding-block: 105px;
    padding-inline: 144px;
    display: flex;
    column-gap: 184px;

    @media (max-width: 1660px) {
        padding-top: 80px;
        padding-bottom: 90px;
        padding-inline: 110px;
        column-gap: 138px;
        border-radius: 52px;
    }

    @media (max-width: 1364px) {
        padding-inline: 61px;
        column-gap: 120px;
    }

    @media (max-width: 1023px) {
        padding-inline: 61px;
        padding-top: 20px;
        column-gap: 16px;
    }

    @media (max-width: 767px) {
        padding-inline: 18px;
        padding-top: 28px;
        flex-direction: column;
        row-gap: 35px;
    }
}

.outstaffing-logo {
    width: 394px;
    height: 440px;
    flex-shrink: 0;

    @media (max-width: 1660px) {
        width: 296px;
        height: 330px;
    }

    @media (max-width: 1364px) {
        padding-top: 21px;
        width: 107px;
        height: 120px;
    }

    @media (max-width: 767px) {
        padding-top: 0;
        width: 171px;
        height: 187px;
    }
}

.outstaffing__text {
    max-width: 800px;
    margin-top: 25px;
    font-size: 24px;
    color: #464040;

    @media (max-width: 1660px) {
        max-width: 700px;
        font-size: 18px;
    }

    @media (max-width: 1364px) {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.01em;
        color: #2f2b2b;
    }

    @media (max-width: 1023px) {
        margin-top: 16px;
    }

    @media (max-width: 767px) {
        margin-top: 28px;
        font-size: 20px;
        line-height: 1.4;
        color: #6a6a6a;
    }
}

.outstaffing__text + .outstaffing__text {
    margin-top: 20px;

    @media (max-width: 1660px) {
        margin-top: 15px;
    }


}

.banner-btns {
    margin-top: 38px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;

    @media (max-width: 767px) {
        justify-content: start;
    }

}

