.security {
    padding-bottom: 60px;

    @media (max-width: 1660px) {
        padding-bottom: 45px;
    }

    @media (max-width: 1023px) {
        padding-bottom: 12px;
    }

    @media (max-width: 767px) {
        padding-bottom: 20px;
    }
}

.banner--security {
    padding-block: 92px;
    padding-inline: 146px;
    column-gap: 145px;

    @media (max-width: 1660px) {
        column-gap: 111px;
    }
}

.banner--security .banner-content {
    max-width: 856px;
}


.headline--security {
    font-size: 66px;

    @media (max-width: 1660px) {
        font-size: 49px;
    }

    @media (max-width: 1023px) {
        font-size: 36px;
    }

    @media (max-width: 767px) {
        font-size: 40px;
    }
  }

.security-logo {
    width: 430px;
    height: 465px;
    margin-top: 38px;
    flex-shrink: 0;

    @media (max-width: 1660px) {
        width: 322px;
        height: 349px;
    }

    @media (max-width: 1364px) {
        margin-top: 15px;
        width: 107px;
        height: 115px;
    }

    @media (max-width: 1023px) {
        margin-top: 5px;
    }

    @media (max-width: 767px) {
        margin-top: 0px;
        width: 121px;
        height: 130px;
    }
}

.headline--security {
    margin-bottom: 44px;

    @media (max-width: 1660px) {
        margin-bottom: 33px;
    }

    @media (max-width: 1023px) {
        margin-bottom: 12px;
    }
}

.banner__text-security {
    max-width: 856px;
    font-size: 24px;
    color: #464040;

    @media (max-width: 1660px) {
        max-width: 700px;
        font-size: 18px;
    }

    @media (max-width: 1364px) {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.01em;
        color: #2f2b2b;
    }

    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 1.4;
        color: #6a6a6a;
    }
}

.banner__text-security:not(:last-child) {
    margin-bottom: 25px;

    @media (max-width: 1023px) {
        margin-bottom: 16px;
    }

    @media (max-width: 767px) {
        margin-bottom: 28px;
    }
}
