button.back-btn
    svg.svg-arrow-right-mob
        use(href="./img/spriteSvg.svg#svg-arrow-right-mob")
// tab 0
// title
.intro__title
    h2.main-title Медицинский центр "Юнионмед"
// slider
.swiper.intro-slider
    .swiper-wrapper
        .swiper-slide
            .intro__text
                p Медицинский центр «ЮнионМед» оказывает полный спектр медицинских услуг для корпоративных клиентов и физических лиц в Санкт-Петербурге и Ленинградской области
        .swiper-slide
            .intro__text
                p «ЮнионМед» обладает уникальными передвижными комплексами с возможностью организации проведения выездных медицинских осмотров на территории предприятия Заказчика
        .swiper-slide
            .intro__text
                p Удобное расположение медицинских центров (вблизи станций метро Удельная и Обводный канал), современное оборудование, комфортная среда и высокий профессиональный уровень сотрудников позволяют нам оказывать услуги на высоком уровне
    .swiper-pagination
.tab-services
    .tab-services__item
        h2.tab-services__title Услуги
        ul.tab-services-list
            li
                a(href="#!") Медицинские осмотры
            li
                a(href="#!") Личные медицинские книжки
            li
                a(href="#!") Водительская комиссия
            li
                a(href="#!") Вакцинация
            li
                a(href="#!") Предрейсовые осмотры
            li
                a(href="#!") Психиатрическое освидетельствование
            li
                a(href="#!") Оружейная комиссия
            li
                a(href="#!") Смотреть все услуги

// tab 1
// title
.intro__title
    h2.main-title Центр охраны труда «ЦОТ»
// slider
.swiper.intro-slider
    .swiper-wrapper
        .swiper-slide
            .intro__text
                p Центр охраны труда осуществляет полный комплекс услуг в области охраны труда. Квалификация и опыт наших специалистов, индивидуальный подход к каждому Клиенту – качества, которые позволяют нам находить решения в ситуациях любой сложности
        .swiper-slide
            .intro__text
                p  Мы гарантируем экспертную поддержку на всех этапах сотрудничества, возможность сопровождения результатов нашей работы, в том числе, при взаимодействии с государственными органами надзора и контроля
    .swiper-pagination
.tab-services
    .tab-services__item
        h2.tab-services__title Услуги
        ul.tab-services-list
            li
                a(href="#!") Оценка профессиональных рисков
            li
                a(href="#!") Специальная оценка условий труда
            li
                a(href="#!") Аутсорсинг охраны труда
            li
                a(href="#!") Аудит охраны труда
            li
                a(href="#!") Производственный контроль
            li
                a(href="#!") Расследование несчастных случаев
            li
                a(href="#!") Сопровождение проверок
            li
                a(href="#!") Смотреть все услуги

// tab 2
// title
.intro__title
    h2.main-title Учебный центр "Содействие"
// slider
.swiper.intro-slider
    .swiper-wrapper
        .swiper-slide
            .intro__text
                p Учебный центр «Содействие» предоставляет широкий спектр качественных образовательных услуг. Мы реализуем учебный процесс, применяя только лучшее: опытные преподаватели, интерактивные программы обучения, практические занятия
        .swiper-slide
            .intro__text
                p  Учебный центр имеет лицензию, выданную комитетом по образованию Санкт-Петербурга на осуществление образовательной деятельности (№ ЛО35-01271-78/00176927 от 13.12.2021) и аккредитацию Минтруда на обучение по охране труда (№7800 от 14.02.2023)
    .swiper-pagination
.tab-services
    .tab-services__item
        h2.tab-services__title Услуги
        ul.tab-services-list
            li
                a(href="#!") Рабочие профессии
            li
                a(href="#!") Повышение квалификации
            li
                a(href="#!") Профпереподготовка
            li
                a(href="#!") Школа охранников
            li
                a(href="#!") Охрана труда
            li
                a(href="#!") Работы на высоте
            li
                a(href="#!") Электробезопасность
            li
                a(href="#!") Смотреть все услуги

// tab 3
// title
.intro__title
    h2.main-title Аутстаффинг персонала
// slider
.swiper.intro-slider
    .swiper-wrapper
        .swiper-slide
            .intro__text
                p ГлобалСтафф реализует комплекс услуг по оптимизации бизнес-процессов, связанных с управлением трудовыми ресурсами. Наш подход к управлению персоналом лишен формальностей и стандартных органичений и позволяет обеспечить существенную экономию Ваших средств.
        .swiper-slide
            .intro__text
                p Аутстаффинг (аутсорсинг) персонала - это передача ответственности, связанной с самостоятельным управлением персоналом, специализированной организации, имеющей соответствующую аккредитацию Министерства труда.
        .swiper-slide
            .intro__text
                p Сотрудничество с нами позволяет оптимизировать штатную численность предприятия, исключить риски, связанные с управлением персоналом, значительно сократить административные затраты и издержки.
    .swiper-pagination
.tab-services
    .tab-services__item
        h2.tab-services__title Услуги
        ul.tab-services-list
            li
                a(href="#!") Оформление (перевод) сотрудников
            li
                a(href="#!") Миграционный учет
            li
                a(href="#!") Юридическое сопровождение
            li
                a(href="#!") Начисление заработных плат, больничных, отпускных и пр.
            li
                a(href="#!") Ведение кадрового делопроизводства
            li
                a(href="#!") Смотреть все услуги