// ARTICLES
section.articles.none
    .container
        // ARTICLES TITLE
        .articles__title
            h1.title2 Поиск статей по темам
        // CATEGORIES
        .articles-labels
            label.article-label-wrapper
                input(name="article-category" type="radio" class="real-radio")
                span.article-label Показать все
            label.article-label-wrapper
                input(name="article-category" type="radio" class="real-radio")
                span.article-label Надзор и контроль
            label.article-label-wrapper
                input(name="article-category" type="radio" class="real-radio")
                span.article-label Условия труда
            label.article-label-wrapper
                input(name="article-category" type="radio" class="real-radio")
                span.article-label Трудовое законодательство
            label.article-label-wrapper
                input(name="article-category" type="radio" class="real-radio")
                span.article-label Обучение
        // ARTICLES CARDS
        .articles-wrapper
            +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
            +article-bg("project01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
            +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
            +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
            +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
            +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
        .articles__btn
            button.btn-show-more Загрузить еще
