// ARTICLES
section.articles
    // ARTICLES TITLE
    h1.title2 Поиск статей по темам
    // CATEGORIES
    .categories-labels
        label.category-label-wrapper
            input(name="article-category" type="radio" class="real-radio" checked)
            span.category-label Показать все
        label.category-label-wrapper
            input(name="article-category" type="radio" class="real-radio")
            span.category-label Надзор и контроль
        label.category-label-wrapper
            input(name="article-category" type="radio" class="real-radio")
            span.category-label Условия труда
        label.category-label-wrapper
            input(name="article-category" type="radio" class="real-radio")
            span.category-label Трудовое законодательство
        label.category-label-wrapper
            input(name="article-category" type="radio" class="real-radio")
            span.category-label Обучение
    // ARTICLES CARDS
    .articles-wrapper
        +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
        +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
        +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
        +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
        +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
        +article-bg("article01", "Отменяются ли льготы и компенсации при истечении срока действия СОУТ?", "27.11.2024")
    .articles__btn
        button.btn-show-more Загрузить еще
