// BREADCRUMbS
section.breadcrumbs
    .container
        ul.breadcrumbs__list
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__list-link Главная
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__list-link Центр Охраны Труда
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__list-link Оценка профессиональных рисков