// section-center
section.center
    .container
        include ../blocks/fixed-menu.pug
        .banner.banner--center
            // logo
            .center-logo
                picture
                    source(srcset="./img/center/center-logo-mob@2x.webp" media="(max-width: 1364px) and (min-resolution: 192dpi)" width="256" height="126")
                    source(srcset="./img/center/center-logo-mob.webp" media="(max-width: 1364px)" width="256" height="126")
                    source(srcset="./img/center/center-logo@2x.webp" media="(min-resolution: 192dpi)" width="425" height="425")
                    img(src="./img/center/center-logo.webp" width="425" height="425" alt="logo" loading="lazy")
            // content
            .banner-content
                h1.headline.headline--center Учебный центр
                p.banner__text.banner__text--center Современная образовательная организация. Мы оказываем услуги по обучению персонала по программам охраны труда, дополнительного профессионального образования и профессионального обучения.
                p.banner__text.banner__text--center Опытный педагогический состав и обширная материально-техническая база позволяют нам осуществлять образовательную деятельность практически по любым направлениям, а удобная платформа дистанционного обучения позволяет повысить эффективность образовательного процесса!
                .banner-btns
                    a.btn Услуги и цены
                    a(class="btn-banner btn-banner--center" data-modal-button="modal") Оставить заявку
//modal
div(class="fade-block hidden" data-modal="modal" id="modal")
    .modal-window
       include ../blocks/request-form.pug
