// CONTACTS
section.contacts
    .contacts-wrapper
        // CONTACTS TITLE
        h2.title2 Контакты
        // CONTACTS ROW
        .contacts-row
            // CONTACTS COL
            .contacts-col
                ul.contacts__tel
                    li
                        a(href="tel:+78126407822") 8 812 640 78 22
                    li
                        a(href="tel:+78001013312") 8 800 101 33 12
                p Звонок по всей РФ БЕСПЛАТНЫЙ
            // CONTACTS COL
            .contacts-col
                a(href="mailto:info@gk-trud.ru").contacts__mail info@gk-trud.ru
                ul.contacts__text
                    li г. Санкт-Петербург, ул. Курская, 19
                    li Пн-Пт 9:00-18:00
            // CONTACTS COL
            .contacts-col
                .contacts__social
                    a(href="#!" target="_blank")
                        img(src="./img/templates/tg.svg" alt="icon" width="40" height="40")
                    a(href="#!" target="_blank")
                        img(src="./img/templates/whats.svg" alt="icon" width="40" height="40")
                    a(href="#!" target="_blank")
                        img(src="./img/templates/vk.svg" alt="icon" width="40" height="40")
    .contacts__map
        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af14cf11d5d191c6b495a158481a42cbc809f5d2f0b7f80307d88fc1c3b75319c&amp;source=constructor")
