// cot-benefits
section.cot-benefits.none
    .container
        // slider
        .swiper.benefits-slider
            .swiper-wrapper
                .swiper-slide
                    +benefit('shield', '> 120 организаций доверяют нам ведение охраны труда', 'Нам доверяют как крупные предприятия, так и малый бизнес. Мы ведем охрану труда «под ключ» и гарантируем результат работы')(class="benefit-card--yellow")
                .swiper-slide
                    +benefit('check', '> 180 проверок ГИТ сопроводили за пять лет', 'Мы обладаем обширным опытом сопровождения различных надзорных мероприятий: от плановых проверок до смертельных несчастных случаев')(class="benefit-card--yellow")
                .swiper-slide
                    +benefit('consult', 'Консультационная поддержка для наших Заказчиков', 'Для наших Клиентов мы оказываем бесплатные консультации по вопросам охраны труда и трудового законодательства')(class="benefit-card--yellow")
            .swiper-pagination