// cot-services
section.cot-services
    .container
        .cot-services__title
            h2.section-title.section-title--white Услуги нашей компании
        // slider
        .swiper.cot-services-slider
            .swiper-wrapper
                .swiper-slide
                    +cot-service('01', 'Оценка профессиональных рисков', 'Процедура по выявлению всех возможных опасностей на рабочем месте и оценке уровня их воздействия на работника во время трудовой деятельности', 'от 400 ₽/рм')
                .swiper-slide
                    +cot-service('02', 'Специальная оценка условий труда', 'Обязательная процедура по оценке воздействия вредных производственных факторов на работника, предусмотренная Трудовым кодексом РФ', 'от 900 ₽/рм')
                .swiper-slide
                    +cot-service('03', 'Производственный контроль', 'Лабораторные исследования производственной среды. Перечень контролируемых факторов значительно шире, чем при проведении СОУТ', 'от 300 ₽/фактор')
                .swiper-slide
                    +cot-service('04', 'Аутсорсинг охраны труда', 'Передача функций специалиста по охране труда сторонней аккредитованной организации. Эффективное решение для малого и среднего бизнеса', 'от 7 000 ₽/мес')
                .swiper-slide
                    +cot-service('05', 'Аудит охраны труда', 'Детальный анализ документации по охране труда, направленный на выявление и устранение нарушений трудового законодательства', 'от 10 000 ₽')
                .swiper-slide
                    +cot-service('06', 'Сопровождение при проверках ГИТ', 'Подготовка и разработка необходимого пакета документов в рамках проверки и снижение величины штрафа по итогам надзорного мероприятия', 'от 25 000 ₽')
                .swiper-slide
                    +cot-service('07', 'Разработка документов/ <br>Построение СУОТ', 'Комплексная разработка документации по охране труда. Такое решение позволяет сэкономить время организациям, которые приняли решение вести охрану труда самостоятельно', 'от 10 000 ₽')
                .swiper-slide
                    +cot-service('08', 'Обучение по охране труда', 'Обучение по охране труда является обязательным мероприятием и позволяет работникам приобрести  знания и навыки, необходимые, для безопасного производства работ', 'от 600 ₽')
                .swiper-slide
                    +cot-service('09', 'Расследование несчастных случаев', 'Привлечение экспертной организации позволяет, в том числе значительно снизить риски и издержи связанные с произошедшим несчастным случаем', 'от 25 000 ₽')
            .swiper-pagination
        .cot-services__info
            p Цены, представленные на сайте, носят исключительно ознакомительный характер и не являются публичной офертой.