// section-cot
section.cot
    .container
        include ../blocks/fixed-menu.pug
        .banner.banner--cot
            // cot-logo
            .cot-logo
                picture
                    source(srcset="./img/cot/cot-logo-mob@2x.webp" media="(max-width: 1364px) and (min-resolution: 192dpi)" width="103" height="141")
                    source(srcset="./img/cot/cot-logo-mob.webp" media="(max-width: 1364px)" width="103" height="141")
                    source(srcset="./img/cot/cot-logo@2x.webp" media="(min-resolution: 192dpi)" width="276" height="392")
                    img(src="./img/cot/cot-logo.webp" width="276" height="392" alt="logo" loading="lazy")
            // cot-content
            .cot-content
                h1.headline Центр охраны труда
                p.banner__text.banner__text--cot Мы предлагаем полный комплекс услуг в области охраны труда: от проведения специальной оценки условий труда до расследования несчастных случаев.
                p.banner__text.banner__text--cot Наши специалисты обладают высоким уровнем профессионализма, что позволяет определить оптимальную стратегию и найти верное решение для самых сложных задач. Сотрудничество с нами – это гарантия достижения целей и реализации поставленных задач!
                .banner-btns
                    a.btn Услуги и цены
                    a(class="btn-banner btn-banner--cot" data-modal-button="modal") Оставить заявку
//modal
div(class="fade-block hidden" data-modal="modal" id="modal")
    .modal-window
       include ../blocks/request-form.pug
