// cta
section.cta
    .container
        .section-wrapper
            .cta-row
                .cta-row__col
                    .cta-content
                        // TEXT
                        .cta__title
                            h2.section-title Вы все еще думаете?
                        p.cta__text Оставьте заявку, и наш менеджер свяжется с Вами, окажет необходимые консультации и ответит на все интересующие вопросы
                .cta-row__col
                    .cta-form-wrapper
                        include ../blocks/cta-form.pug


