header.header-top
   h1 Hello
   svg.svg-logo
      use(href="./img/logo.svg#svg-logo")
   svg.svg-group
      use(href="./img/spriteSvg.svg#svg-group")
   svg.svg-wallet
      use(href="./img/spriteSvg.svg#svg-wallet")
   svg.svg-hands
      use(href="./img/spriteSvg.svg#svg-hands")
   svg.svg-people
      use(href="./img/spriteSvg.svg#svg-people")
   svg.svg-world
      use(href="./img/spriteSvg.svg#svg-world")
   svg.svg-security
      use(href="./img/spriteSvg.svg#svg-security")
   svg.svg-calculator
      use(href="./img/spriteSvg.svg#svg-calculator")
   svg.svg-scales
      use(href="./img/spriteSvg.svg#svg-scales")
   svg.svg-house
      use(href="./img/spriteSvg.svg#svg-house")
   svg.svg-confidence
      use(href="./img/spriteSvg.svg#svg-confidence")
   svg.svg-reward
      use(href="./img/spriteSvg.svg#svg-reward")
   svg.svg-headphones
      use(href="./img/spriteSvg.svg#svg-headphones")
   svg.svg-union
      use(href="./img/spriteSvg.svg#svg-union")
   svg.svg-check
      use(href="./img/spriteSvg.svg#svg-check")
   svg.svg-consult
      use(href="./img/spriteSvg.svg#svg-consult")
   svg.svg-arrow-right
      use(href="./img/spriteSvg.svg#svg-arrow-right")
   svg.svg-arrow-right-mob
      use(href="./img/spriteSvg.svg#svg-arrow-right-mob")
   svg.svg-prev
      use(href="./img/spriteSvg.svg#svg-prev")
   svg.svg-next
      use(href="./img/spriteSvg.svg#svg-next")
   svg.svg-star-circle
      use(href="./img/spriteSvg.svg#svg-star-circle")
   svg.svg-cube
      use(href="./img/spriteSvg.svg#svg-cube")
   svg.svg-time
      use(href="./img/spriteSvg.svg#svg-time")
   svg.svg-hat
      use(href="./img/spriteSvg.svg#svg-hat")
   svg.svg-student
      use(href="./img/spriteSvg.svg#svg-student")
   svg.svg-lamp
      use(href="./img/spriteSvg.svg#svg-lamp")
   svg.svg-med
      use(href="./img/spriteSvg.svg#svg-med")
   svg.svg-ambulance
      use(href="./img/spriteSvg.svg#svg-ambulance")
   svg.svg-magnifier
      use(href="./img/spriteSvg.svg#svg-magnifier")
   svg.svg-card
      use(href="./img/spriteSvg.svg#svg-card")
   svg.svg-list
      use(href="./img/spriteSvg.svg#svg-list")
   svg.svg-book
      use(href="./img/spriteSvg.svg#svg-book")