// HEADER
header.header
    .container
        .header-wrapper
            .header-left
                // burger
                button.burger.btn-open-menu
                    span
                // logo
                a(href="templates.html").header__logo
                    svg.svg-logo
                        use(href="./img/logo.svg#svg-logo")
            // header-contacts-mob
            .header-content-mob
                .contacts-mob
                    a(href="#!").contacts-mob-item
                        svg.svg-wa
                            use(href="./img/spriteSvg.svg#svg-wa")
                .contacts-mob
                    a(href="#!").contacts-mob-item
                        svg.svg-tg
                            use(href="./img/spriteSvg.svg#svg-tg")
                .contacts-mob
                    a(href="#!").contacts-mob-item
                        svg.svg-mail-mob
                            use(href="./img/spriteSvg.svg#svg-mail-mob")
                .contacts-mob
                    a(href="#!").contacts-mob-item
                        svg.svg-phone-mob
                            use(href="./img/spriteSvg.svg#svg-phone")
                .contacts-mob.js-mobile-search
                    a(href="#!").contacts-mob-item
                        svg.svg-search-mob
                            use(href="./img/spriteSvg.svg#svg-search-mob")
                .header-search
                        button(type="submit").header-search__btn
                            svg.svg-search
                                use(href="./img/spriteSvg.svg#svg-search")
                        input(type="text" id="header-search" class="header-search__input" placeholder="Поиск по сайту")
                        .search-hint
                            ul
                                li
                                    a(href="#!") Cсылка 1
                                li
                                    a(href="#!") Ссылка 2
                                li
                                    a(href="#!") Cсылка 3
                                li
                                    a(href="#!") Ссылка 4

            .header-content
                // header-contacts
                .header-contacts
                    .contacts-item
                        svg.svg-mail
                            use(href="./img/spriteSvg.svg#svg-mail")
                        a(href="mailto:info@gk-trud.ru") info@gk-trud.ru
                    .contacts-item
                        svg.svg-clock
                            use(href="./img/spriteSvg.svg#svg-clock")
                        span c 09:00 до 18:00 пн-пт
                    .contacts-item
                        svg.svg-pin
                            use(href="./img/spriteSvg.svg#svg-pin")
                        span г. Санкт-Петербург, ул. Курская, д 19
                    .contacts-item
                        svg.svg-phone
                            use(href="./img/spriteSvg.svg#svg-phone")
                        a(href="tel:88001013312").phone 8 800 101 33 12
                        a(href="tel:88126407822").phone 8 812 640 78 22
                // header-menu
                .header-bottom
                    nav.menu
                        a(href="#!") Главная
                        a(href="#!") О компании
                        a(href="#!").btn-open-menu Услуги
                        a(href="#!") Контакты
                    .header-search
                        button(type="submit").header-search__btn
                            svg.svg-search
                                use(href="./img/spriteSvg.svg#svg-search")
                        input(type="text" id="header-search" class="header-search__input" placeholder="Поиск по сайту")
                        .search-hint
                            ul
                                li
                                    a(href="#!") Cсылка 1
                                li
                                    a(href="#!") Ссылка 2
                                li
                                    a(href="#!") Cсылка 3
                                li
                                    a(href="#!") Ссылка 4
.aside-menu-wrapper
    include ../blocks/aside-menu.pug