// header
header.header
    .container
        .header-wrapper
            .header-left
                button.menu-toggle
                a(href="index.html").header__logo
                    svg.svg-logo
                        use(href="./img/logo.svg#svg-logo")
            .header-content
                .header-contacts
                    .contacts-item
                        svg.svg-mail
                            use(href="./img/spriteSvg.svg#svg-mail")
                        a(href="mailto:info@gk-trud.ru") info@gk-trud.ru
                    .contacts-item
                        svg.svg-clock
                            use(href="./img/spriteSvg.svg#svg-clock")
                        span c 09:00 до 18:00 пн-пт
                    .contacts-item
                        svg.svg-pin
                            use(href="./img/spriteSvg.svg#svg-pin")
                        span г. Санкт-Петербург, ул. Курская, д 19
                    .contacts-item
                        svg.svg-phone
                            use(href="./img/spriteSvg.svg#svg-phone")
                        a(href="tel:88001013312").phone 8 800 101 33 12
                        a(href="tel:88126407822").phone 8 812 640 78 22

                .header-bottom
                    nav.menu
                        a(href="#!") Главная
                        a(href="#!") О компании
                        a(href="#!") Услуги
                        a(href="#!") Контакты
                    .header__search
                        svg.svg-search
                            use(href="./img/spriteSvg.svg#svg-search")
                        a(href="#!") Поиск по сайту


