// INTRO
section.intro
    .container
        // fixed-menu
        .fixed-menu
            .menu-block
                a(href="cot.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu01.webp" width="45" height="27" alt="logo" class="logo-menu-cot" loading="lazy")
                a(href="unionmed.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu02.webp" width="43" height="36" alt="logo" class="logo-menu-unimed" loading="lazy")
                a(href="center.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu03.webp" width="45" height="45" alt="logo" class="logo-menu-center" loading="lazy")
                a(href="school.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu04.webp" width="51" height="35" alt="logo" class="logo-menu-school" loading="lazy")
                a(href="index.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu05.webp" width="47" height="48" alt="logo" class="logo-menu-outstaff" loading="lazy")
                a(href="security.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu06.webp" width="44" height="46" alt="logo" class="logo-menu-security" loading="lazy")
        .intro-wrapper
            // intro - content
            .intro-content
                .intro__title
                    h1.main-title Комплексные решения для бизнеса
                // slider
                .swiper.intro-slider
                    .swiper-wrapper
                        .swiper-slide
                            .intro__text
                                p Группа компаний «Труд» оказывает широкий комплекс услуг, направленных на обеспечение соблюдения обязательных требований трудового законодательства РФ и создание комфортных условий для функционирования и оптимизации бизнес-процессов.
                        .swiper-slide
                            .intro__text
                                p В структуре Группы компаний Труд:
                                ul
                                    li многопрофильный медицинский центр
                                    li аккредитованный центр охраны труда
                                    li учебный центр (охрана труда и ДПО)
                                    li аккредитованное частное агентство занятости
                                    li центр подготовки частных охранников
                                    li охранное предприятие
                    .swiper-pagination
                // link
                a(href="#!").intro__link Подробнее
                    svg.svg-arrow-right
                        use(href="./img/spriteSvg.svg#svg-arrow-right")
                // mobile modal button
                a(class="btn-banner" data-modal-button="modal") Оставить заявку
            // intro - logo
            .intro__logo
                img(src="./img/logo-intro.svg" alt="logo" width="578" height="720")
//modal
div(class="fade-block hidden" data-modal="modal" id="modal")
    .modal-window
       include ../blocks/request-form.pug