// knowledge
section.knowledge
    .container
        .knowledge__title
            h2.section-title.section-title--white База знаний
        // slider
        .swiper.knowledge-slider
            .swiper-wrapper
                .swiper-slide
                    +knowledge-mix('book', 'Образцы документов <br> по охране труда')
                .swiper-slide
                    +knowledge-mix('law', 'Нормативные правовые документы')
                .swiper-slide
                    +knowledge-mix('terms', 'Термины и определения <br> по охране труда')
            .swiper-pagination