// LICENSES
section.licenses
    // LICENSES TITLE
    h2.title2 Лицензии
    // LICENSES BLOCK
    .licenses-block
        h3.title3 Медицинский центр
        // SLIDER
        .swiper.licenses-med-slider
            .swiper-wrapper
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license01.webp" data-fancybox="gallery-med").license-img
                        picture
                            source(srcset="./img/templates/license01@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license01.webp" width="340" height="489" alt="license" loading="lazy")
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license02.webp" data-fancybox="gallery-med").license-img
                        picture
                            source(srcset="./img/templates/license02@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license02.webp" width="340" height="489" alt="license" loading="lazy")
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license03.webp" data-fancybox="gallery-med").license-img
                        picture
                            source(srcset="./img/templates/license03@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license03.webp" width="340" height="489" alt="license" loading="lazy")
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license04.webp" data-fancybox="gallery-med").license-img
                        picture
                            source(srcset="./img/templates/license04@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license04.webp" width="340" height="489" alt="license" loading="lazy")
            .swiper-pagination
    // LICENSES BLOCK
    .licenses-block
        h3.title3 Учебный центр
        // SLIDER
        .swiper.licenses-educ-slider
            .swiper-wrapper
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license05.webp" data-fancybox="gallery-ed").license-img
                        picture
                            source(srcset="./img/templates/license05@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license05.webp" width="340" height="489" alt="license" loading="lazy")
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license06.webp" data-fancybox="gallery-ed").license-img
                        picture
                            source(srcset="./img/templates/license06@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license06.webp" width="340" height="489" alt="license" loading="lazy")
            .swiper-pagination
    // LICENSES BLOCK
    .licenses-block
        h3.title3 Охранная организация
        // SLIDER
        .swiper.licenses-guard-slider
            .swiper-wrapper
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license07.webp" data-fancybox="gallery-guard").license-img
                        picture
                            source(srcset="./img/templates/license07@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license07.webp" width="340" height="489" alt="license" loading="lazy")
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license08.webp" data-fancybox="gallery-guard").license-img
                        picture
                            source(srcset="./img/templates/license08@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license08.webp" width="340" height="489" alt="license" loading="lazy")
            .swiper-pagination
    // LICENSES BLOCK
    .licenses-block
        h3.title3 Аутстаффинг персонала
        // SLIDER
        .swiper.licenses-aut-slider
            .swiper-wrapper
                // SLIDE
                .swiper-slide
                    a(href="./img/templates/license09.webp" data-fancybox="gallery-out").license-img
                        picture
                            source(srcset="./img/templates/license09@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license09.webp" width="340" height="489" alt="license" loading="lazy")
            .swiper-pagination
