// LICENSES
section.licenses
    // LICENSES TITLE
    h2.title2 Лицензии
    // LICENSES BLOCK
    .licenses-med-block
        h3.title3 Охрана труда
        // SLIDER
        .swiper.licenses-med-slider
            .swiper-wrapper
                // SLIDE
                .swiper-slide
                    .license-img
                        picture
                            source(srcset="./img/templates/license01@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license01.webp" width="340" height="489" alt="license" loading="lazy")
                // SLIDE
                .swiper-slide
                    .license-img
                        picture
                            source(srcset="./img/templates/license02@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license02.webp" width="340" height="489" alt="license" loading="lazy")
                // SLIDE
                .swiper-slide
                    .license-img
                        picture
                            source(srcset="./img/templates/license03@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license03.webp" width="340" height="489" alt="license" loading="lazy")
                // SLIDE
                .swiper-slide
                    .license-img
                        picture
                            source(srcset="./img/templates/license04@2x.webp" media="(min-resolution: 192dpi)" width="340" height="489")
                            img(src="./img/templates/license04.webp" width="340" height="489" alt="license" loading="lazy")
            .swiper-pagination
