// main-cta
section.main-cta.none
    .container
        .section-wrapper
            .cta-row
                .cta-row__col
                    .cta-content
                        // TEXT
                        .cta__title
                            h2.section-title.section-title--white Мы вернем вам свободное время
                        h3.cta__subtitle Закажите обратный звонок!
                        p.cta__text Специалист перезвонит вам в течение 15 минут
                .cta-row__col
                    .cta-form-wrapper
                        include ../blocks/cta-form-dark.pug