// med-services
section.med-services
    .container
        //SERVICE SECTOR
        .school-services__title
            h2.section-title.section-title--white Медицинские услуги для ЧОП
            h3.section-subtitle Медицинское освидетельствование для частных охранников
        // slider
        .swiper.center-services-slider
            .swiper-wrapper
                .swiper-slide
                    +school-mix("Комплексное проведение медицинского освидетельствования", "5 000 ₽", "4 разряд", "4")
                .swiper-slide
                    +school-mix("Комплексное проведение медицинского освидетельствования", "6 000 ₽", "5 разряд", "5")
                .swiper-slide
                    +school-mix("Комплексное проведение медицинского освидетельствования", "6 500 ₽", "6 разряд", "6")
            .swiper-pagination
        //SERVICE SECTOR
        .school-services__title.school-services__title--mt19
            h3.section-subtitle Прочие медицинские услуги
        // slider
        .swiper.center-services-slider
            .swiper-wrapper
                .swiper-slide
                    +school-mix("Оформление личных медицинских книжек", "3 000 ₽", "4 разряд", "4")
                .swiper-slide
                    +school-mix("Предрейсовые медицинские осмотры", "4 000 ₽", "5 разряд", "5")
                .swiper-slide
                    +school-mix("Оружейная комиссия водительская комиссия", "4 500 ₽", "6 разряд", "6")
            .swiper-pagination
        // INFO TEXT
        .school-services__info
            p.info-text Центр Содействия осуществляет комплекс услуг по медицинскому обеспечению охранной деятельности: от медицинского освидетельствования в соответствии с Приказом Министерства здравоохранения РФ от 26 ноября 2020 года №1252н до организации проведения предрейсовых медицинских осмотров для охранников-водителей.
            p.info-text Цены, представленные на сайте, носят исключительно ознакомительный характер и не являются публичной офертой.

