// OTHER SERVICES
section.other-services
    .container
        // OTHER SERVICES TITLE
        .other-services__title
            h2.title2 Возможно вас заинтересует
        // slider
        .swiper.other-services-slider
            // slider controls
            .other-services-slider-controls
                button.slider-prev-xs#slider-prev-serv
                    svg.svg-prev
                        use(href="./img/spriteSvg.svg#svg-prev")
                button.slider-next-xs#slider-next-serv
                    svg.svg-next
                        use(href="./img/spriteSvg.svg#svg-next")
            .swiper-wrapper
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Оценка профессиональных рисков
                        a(href="#!").other-service-card__link Подробнее
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Производственный контроль
                        a(href="#!").other-service-card__link Подробнее
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Аутсорсинг охраны труда
                        a(href="#!").other-service-card__link Подробнее
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Аудит охраны труда
                        a(href="#!").other-service-card__link Подробнее
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Сопровождение при проверках гит
                        a(href="#!").other-service-card__link Подробнее
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Разработка документов / построение суот
                        a(href="#!").other-service-card__link Подробнее
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Обучение по охране труда
                        a(href="#!").other-service-card__link Подробнее
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Сопровождение при проверках гит
                        a(href="#!").other-service-card__link Подробнее
                // slide
                .swiper-slide
                    .other-service-card
                        .other-service-card__title Расследование несчастных случаев
                        a(href="#!").other-service-card__link Подробнее
            .swiper-pagination
