// prices
section.outstaffing-prices
    .container
        .prices-wrapper
            .outstaffing-prices__title
                h2.section-title.section-title--dark Кому и когда необходим аутстаффинг персонала
            p Услуга отлично подходит для компаний, стремящихся не просто приспосабливаться к быстро меняющимся требованиям рынка, но и вести рынок вперёд. Аутстаффинг - это современный, нетривиальный и крайне эффективный способ оптимизации бизнес-процессов
            .outstaffing-prices__title
                h2.section-title.section-title--dark Стоимость аутстаффинга
            p Цена на услуги аутстаффинга персонала - это гибкий и индивидуально рассчитываемый показатель, который зависит от множества факторов, в том числе от объема передаваемого нам персонала, гражданства работников, планируемой продолжительности сотрудничества, общей налогооблагаемой базы в рамках реализации проекта и прочих факторов
            // TABLE
            .table
                .table-head
                    .table-head__sell Наименование услуги
                    .table-head__sell Стоимость
                .table-body
                    .table-row
                        .table-row__sell Аутстаффинг персонала (граждане РФ)
                        .table-row__sell.text-center от 3500
                    .table-row
                        .table-row__sell Аутстаффинг персонала (иностранные граждане)
                        .table-row__sell.text-center от 4000
                    .table-row
                        .table-row__sell Оформление патента “под ключ”
                        .table-row__sell.text-center от 29000
            p Наша задача - создание условий, при которых наши заказчики получат реально ощутимые положительные последствия от работы с нами, как материальные в виде экономии средств, так и нематериальные в виде снижения нагрузки на административный персонал
            p
                small Цены, представленные на сайте, носят исключительно ознакомительный характер и не являются публичной офертой
