// section-outstaffing
section.outstaffing
    .container
        // fixed-menu
        .fixed-menu
            .menu-block
                a(href="cot.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu01.webp" width="45" height="27" alt="link" class="logo-menu-cot" loading="lazy")
                a(href="#!").menu-block-link
                    img(src="./img/logo-menu/logo-menu02.webp" width="43" height="36" alt="link" class="logo-menu-unimed" loading="lazy")
                a(href="#!").menu-block-link
                    img(src="./img/logo-menu/logo-menu03.webp" width="45" height="45" alt="link" class="logo-menu-center" loading="lazy")
                a(href="#!").menu-block-link
                    img(src="./img/logo-menu/logo-menu04.webp" width="51" height="35" alt="link" class="logo-menu-school" loading="lazy")
                a(href="index.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu05.webp" width="47" height="48" alt="link" class="logo-menu-outstaff" loading="lazy")
                a(href="security.html").menu-block-link
                    img(src="./img/logo-menu/logo-menu06.webp" width="44" height="46" alt="link" class="logo-menu-security" loading="lazy")
        .banner
            // logo
            .banner-logo
                picture
                    // для ретина до 1364 включительно
                    source(srcset="./img/outstaff/outstaff-logo-mob@2x.webp" media="(max-width: 1364px) and (min-resolution: 192dpi)" width="171" height="187")
                    // для обычных до 1364 включительно
                    source(srcset="./img/outstaff/outstaff-logo-mob.webp" media="(max-width: 1364px)" width="171" height="187")
                    // для десктопов ретина
                    source(srcset="./img/outstaff/outstaff-logo@2x.webp" media="(min-resolution: 192dpi)" width="390" height="440")
                    // для обычных десктопов
                    img(src="./img/outstaff/outstaff-logo.webp" width="390" height="440" alt="logo" loading="lazy")
            // content
            .banner-content
                h1.headline Аутстаффинг персонала
                p.banner__text Среди множества инновационных подходов к управлению кадровым ресурсами, аутстаффинг персонала выделяется своей уникальной способностью менять облик современного бизнеса. Этот метод управления трудовыми ресурсами лишен формальностей и стандартных ограничений, связанных с самостоятельным учетом наемных работников
                .banner-btns
                    a.btn Услуги и цены
                    a(class="btn-banner" data-modal-button="modal") Оставить заявку
//modal
div(class="fade-block hidden" data-modal="modal" id="modal")
    .modal-window
       include ../blocks/request-form.pug
