// outstaffing-services
section.outstaffing-services
    .container
        .outstaffing-services__title
            h2.section-title.section-title--dark Что входит в услуги аутстаффинга?
        // slider
        .swiper.outstaffing-services-slider
            .swiper-wrapper
                .swiper-slide
                    +outstaffing-service('people', 'Кадровое производство')
                        li
                            p Ведение трудовых отношений “под ключ”, от получения СНИЛС и ИНН до расчета отпускных
                        li
                            p Процедура воинского учета также реализуется нашими специалистами
                .swiper-slide
                    +outstaffing-service('calculator', 'Бухгалтерия')
                        li
                            p Расчет и выплата заработной платы и иных выплат, причитающихся работникам
                        li
                            p Расчет и перечисление в бюджет налогов и взносов с ФОТ
                .swiper-slide
                    +outstaffing-service('world', 'Миграционный учет')
                        li
                            p Отправка необходимых уведомлений и документов в органы УМВД и УФМС
                        li
                            p Контроль платежей по патентам
                        li
                            p Помощь в постановке иностранного гражданина на учет по месту пребывания
                .swiper-slide
                    +outstaffing-service('scales', 'Юридическое сопровождение')
                        li
                            p Сопровождение получения Патентов для иностранных граждан
                        li
                            p Юридическое сопровождение иностранных граждан в случае задержания их органами по вопросам миграционного учета
                .swiper-slide
                    +outstaffing-service('security', 'Охрана труда')
                        li
                            p Ведение всех процедур охраны труда: от вводного инструктажа до оценки профессиональных рисков
                        li
                            p Расследование возможных несчастных случаев также осуществляется нашими силами
                .swiper-slide
                    +outstaffing-service('house', 'Взаимодействие с органами надзора')
                        li
                            p Ведение трудовых отношений “под ключ”, от получения СНИЛС и ИНН до расчета отпускных
                        li
                            p Процедура воинского учета также реализуется нашими специалистами
            .swiper-pagination
    table
        thead
            //ряд
            tr
                th
                    p text
                th
                    p text
        tbody
            //1ряд
            tr
                td контент 1 ячейки
                td контент 2 ячейки
            //2ряд
            tr
                td контент 1 ячейки
                td контент 2 ячейки