// section-outstaffing
section.outstaffing
    .container
        include ../blocks/fixed-menu.pug
        .banner
            // logo
            .banner-logo
                picture
                    source(srcset="./img/outstaff/outstaff-logo-mob@2x.webp" media="(max-width: 1364px) and (min-resolution: 192dpi)" width="171" height="187")
                    source(srcset="./img/outstaff/outstaff-logo-mob.webp" media="(max-width: 1364px)" width="171" height="187")
                    source(srcset="./img/outstaff/outstaff-logo@2x.webp" media="(min-resolution: 192dpi)" width="390" height="440")
                    img(src="./img/outstaff/outstaff-logo.webp" width="390" height="440" alt="logo" loading="lazy")
            // content
            .banner-content
                h1.headline Аутстаффинг персонала
                p.banner__text Среди множества инновационных подходов к управлению кадровым ресурсами, аутстаффинг персонала выделяется своей уникальной способностью менять облик современного бизнеса. Этот метод управления трудовыми ресурсами лишен формальностей и стандартных ограничений, связанных с самостоятельным учетом наемных работников
                .banner-btns
                    a.btn Услуги и цены
                    a(class="btn-banner" data-modal-button="modal") Оставить заявку
//modal
div(class="fade-block hidden" data-modal="modal" id="modal")
    .modal-window
       include ../blocks/request-form.pug
