// outstaffing-benefits
section.outstaffing-benefits.none
    .container
        // slider
        .swiper.outstaffing-benefits-slider
            .swiper-wrapper
                .swiper-slide
                    +outstaffing-benefit('group', 'Миграционный учет <br> «под ключ»', 'Отправляем уведомления и документы в органы УМВД и УФМС контролируем платежи по патентам, помогаем с оформлением регистраций')
                .swiper-slide
                    +outstaffing-benefit('wallet', 'Поможем сэкономить до 30% от суммы затрат на ФОТ', 'Затраты на персонал при работе с нами – это статья расхода, облагаемая НДС, что позволяет оптимизировать расходы и увеличить прибыль')
                .swiper-slide
                    +outstaffing-benefit('hands', 'Берем всю ответственность <br> за работников на себя', 'Организуем все процедуры по охране труда: от вводного инструктажа до расследования несчастных случаев на производстве')
            .swiper-pagination