section.partners
    .container
        .partners__title
            h2.section-title.section-title--white Нам доверяют
        .special-slider-wrapper
            button.slider-prev-partners
                svg.svg-prev
                    use(href="./img/spriteSvg.svg#svg-prev")
            button.slider-next-partners
                svg.svg-next
                    use(href="./img/spriteSvg.svg#svg-next")
            // slider
            .swiper.partners-slider
                .swiper-wrapper
                    // slide
                    .swiper-slide
                        .partner-img
                            picture
                                source(srcset="./img/partners/partner01@2x.webp" media="(min-resolution: 192dpi)" width="244" height="86")
                                img(src="./img/partners/partner01.webp" width="244" height="86" alt="partner")
                    // slide
                    .swiper-slide
                        .partner-img
                            picture
                                source(srcset="./img/partners/partner02@2x.webp" media="(min-resolution: 192dpi)" width="283" height="107")
                                img(src="./img/partners/partner02.webp" width="283" height="107" alt="partner")
                    // slide
                    .swiper-slide
                        .partner-img
                            picture
                                source(srcset="./img/partners/partner03@2x.webp" media="(min-resolution: 192dpi)" width="240" height="80")
                                img(src="./img/partners/partner03.webp" width="240" height="80" alt="partner")
                    // slide
                    .swiper-slide
                        .partner-img
                            picture
                                source(srcset="./img/partners/partner04@2x.webp" media="(min-resolution: 192dpi)" width="150" height="134")
                                img(src="./img/partners/partner04.webp" width="150" height="134" alt="partner")
                    // slide
                    .swiper-slide
                        .partner-img
                            picture
                                source(srcset="./img/partners/partner05@2x.webp" media="(min-resolution: 192dpi)" width="214" height="151")
                                img(src="./img/partners/partner05.webp" width="214" height="151" alt="partner")
                .swiper-pagination