// PRIVILEGES
section.privileges
    // MAIN PRIVILEGES
    .main-privileges
        .main-privileges-wrapper
            // MAIN PRIVILEGES CARD
            .main-privileges-card
                .main-privileges-card__top
                    .main-privileges-card__img
                        img(src="./img/templates/privilage01.svg" alt="icon" width="72" height="72")
                    h3.title3 Кому требуется
                ul.main-privileges-card__list
                    li Всем работодателям, независимо от сферы деятельности и организационно-правовой формы
                    li Исключения: надомники, дистанционные работники, рабочие места государственных и муниципальных служащих
            // MAIN PRIVILEGES CARD
            .main-privileges-card.main-privileges-card02
                .main-privileges-card__wrapper
                    .main-privileges-card__top
                        .main-privileges-card__img
                            img(src="./img/templates/privilage02.svg" alt="icon" width="72" height="72")
                        h3.title3 Основание
                    ul.main-privileges-card__list
                        li Трудовой кодекс РФ, ст. 214
                        li Федеральный закон № 426-ФЗ 28 декабря 2013 года
                        li Приказ Минтруда России от 24.01.2014 N 33н
                a(href="#!").anchor Ознакомиться с НПА
                    img(src="./img/icons/icon-anchor.svg" alt="arrow" width="32" height="32")
            // MAIN PRIVILEGES CARD
            .main-privileges-card.main-privileges-card03
                .main-privileges-card__top
                    .main-privileges-card__img
                        img(src="./img/templates/privilage03.svg" alt="icon" width="72" height="72")
                    h3.title3 Ответственность
                p КоАП РФ, ст. 5.27.1, ч.2 <br> Допуск к работе без проведения обучения влечет наложение штрафа:
                ul.main-privileges-card__list
                    li на юридических лиц: 60-80 т.р.
                    li на должностных лиц: 5-10 т.р.
                    li на ИП: 5-10 т.р.
    // PRIVILEGES BLOCK4
    .privileges-block4
        h2.title2 Преимущества при сотрудничестве с нами
        .privileges-row
            // slider
            .swiper.privileges4-slider
                .swiper-wrapper
                    .swiper-slide
                        // privilege-card
                        .privilege-card
                            .privilege-card-top
                                .privilege-card__img
                                    img(src="./img/templates/privilage04.svg" alt="icon" width="72" height="72")
                                h3.title3 Безопасность
                            p.privilege-card__text Вся ответственность в сфере охраны труда возлагается на нас по договору
                    .swiper-slide
                        // privilege-card
                        .privilege-card
                            .privilege-card-top
                                .privilege-card__img
                                    img(src="./img/templates/privilage05.svg" alt="icon" width="72" height="72")
                                h3.title3 Экспертность
                            p.privilege-card__text Наши специалисты провели 100+ проверок ГИТ — от простых жалоб работников до сложных расследований несчастных случаев
                    .swiper-slide
                        // privilege-card
                        .privilege-card
                            .privilege-card-top
                                .privilege-card__img
                                    img(src="./img/templates/privilage06.svg" alt="icon" width="72" height="72")
                                h3.title3 Обширный опыт
                            p.privilege-card__text На сегодняшний день более 120 организаций доверяют нам ведение охраны труда. Среди наших клиентов есть как микропредприятия, так и крупные организации со штатом более 1500 человек
                    .swiper-slide
                        // privilege-card
                        .privilege-card
                            .privilege-card-top
                                .privilege-card__img
                                    img(src="./img/templates/privilage07.svg" alt="icon" width="72" height="72")
                                h3.title3 Консультационная поддержка
                            p.privilege-card__text Вы можете обратиться к нам не только по вопросам охраны труда, но и по вопросам трудового законодательства, кадрового и миграционного учёта
                .swiper-pagination
            a(href="./img/templates/document2.webp" data-fancybox="gallery").privileges__img
                picture
                    source(srcset="./img/templates/document2-mob@2x.webp" media="(max-width: 767px) and (min-resolution: 192dpi)" width="396" height="560")
                    source(srcset="./img/templates/document2-mob.webp" media="(max-width: 767px)" width="396" height="560")
                    source(srcset="./img/templates/document2@2x.webp" media="(min-resolution: 192dpi)" width="517" height="732")
                    img(src="./img/templates/document2.webp" width="517" height="732" alt="staff", loading="lazy")
    // PRIVILEGES BLOCK3
    .privileges-block3
        h2.title2 Преимущества при сотрудничестве с нами
        .privileges-row
            // slider
            .swiper.privileges3-slider
                .swiper-wrapper
                    .swiper-slide
                        // privilege-card
                        .privilege-card
                            .privilege-card-top
                                .privilege-card__img
                                    img(src="./img/templates/privilage06.svg" alt="icon" width="72" height="72")
                                h3.title3 Обширный опыт
                            p.privilege-card__text Ежегодно мы расследуем не менее 20 несчастных случаев, преимущественно тяжёлых или со смертельным исходом, это даёт нам возможность вести расследование, опираясь, в том числе нанакопленный опыт
                    .swiper-slide
                        // privilege-card
                        .privilege-card
                            .privilege-card-top
                                .privilege-card__img
                                    img(src="./img/templates/privilage07.svg" alt="icon" width="72" height="72")
                                h3.title3 Консультационная поддержка
                            p.privilege-card__text Наши специалисты провели 100+ проверок ГИТ — от простых жалоб работников до сложных расследований несчастных случаев
                    .swiper-slide
                        // privilege-card
                        .privilege-card
                            .privilege-card-top
                                .privilege-card__img
                                    img(src="./img/templates/privilage05.svg" alt="icon" width="72" height="72")
                                h3.title3 Экспертность
                            p.privilege-card__text Мы не заканчиваем работу на оформлении материалов несчастного случая, а комплексно подходим к сложившейся ситуации и оказываем необходимую консультационную поддержку и по завершении работ, чтобы убедиться, что подобные инциденты в дальнейшем не произойдут
                .swiper-pagination
            a(href="./img/templates/document2.webp" data-fancybox="gallery").privileges__img
                picture
                    source(srcset="./img/templates/document2-mob@2x.webp" media="(max-width: 767px) and (min-resolution: 192dpi)" width="396" height="560")
                    source(srcset="./img/templates/document2-mob.webp" media="(max-width: 767px)" width="396" height="560")
                    source(srcset="./img/templates/document2@2x.webp" media="(min-resolution: 192dpi)" width="517" height="732")
                    img(src="./img/templates/document2.webp" width="517" height="732" alt="staff", loading="lazy")


