// RESULT
section.result
    // RESULT TITLE
    h2.title2 Результат оценки профессиональных рисков
    .result__row
        // RESULT TEXT
        .result__text
            p В ходе совместной работы наши специалисты подготовят для вас отчёт об оценке профессиональных рисков, состоящий из следующих документов:
            ul.result__list
                li Положение об управлении профессиональными рисками
                li Методика оценки профессиональных рисков
                li Перечень (реестр) идентифицированных опасностей
                li Сводная ведомость (реестр рисков) результатов оценки профессиональных рисков
                li Перечень мероприятий по снижению уровня профессиональных рисков
                li Перечень возможных мер управления профессиональными рисками
                li Карты оценки профессиональных рисков
            p При необходимости поможем осуществить внедрение процедуры управления профессиональными рисками в Систему управления охраной труда, разработанную и действующую в вашей организации.
        // RESULT IMG
        a(href="./img/templates/document1.webp" data-fancybox="gallery").result__img
            picture
                source(srcset="./img/templates/document1@2x.webp" media="(min-resolution: 192dpi)" width="517" height="732")
                img(src="./img/templates/document1.webp" width="517" height="732" alt="document" loading="lazy")