// reviews
section.reviews
    .container
        .reviews__title
            h2.section-title.section-title--white Отзывы
        .special-slider-wrapper
            button.slider-prev
                svg.svg-prev
                    use(href="./img/spriteSvg.svg#svg-prev")
            button.slider-next
                svg.svg-next
                    use(href="./img/spriteSvg.svg#svg-next")
            //slider
            .swiper.reviews-slider
                .swiper-wrapper
                    // slide
                    .swiper-slide
                        .review-img
                            picture
                                source(srcset="./img/reviews/review01@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review01.webp" width="609" height="430" alt="review")
                    // slide
                    .swiper-slide
                        .review-img
                            picture
                                source(srcset="./img/reviews/review02@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review02.webp" width="609" height="430" alt="review")
                    // slide
                    .swiper-slide
                        .review-img
                            picture
                                source(srcset="./img/reviews/review03@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review03.webp" width="609" height="430" alt="review")
                    // slide
                    .swiper-slide
                        .review-img
                            picture
                                source(srcset="./img/reviews/review01@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review01.webp" width="609" height="430" alt="review")
                    // slide
                    .swiper-slide
                        .review-img
                            picture
                                source(srcset="./img/reviews/review02@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review02.webp" width="609" height="430" alt="review")
                    // slide
                    .swiper-slide
                        .review-img
                            picture
                                source(srcset="./img/reviews/review03@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review03.webp" width="609" height="430" alt="review")
                .swiper-pagination