// reviews
section.reviews
    .container
        .reviews__title
            h2.section-title.section-title--white Отзывы
        .special-slider-wrapper
            button.slider-prev#slider-prev-reviews
                svg.svg-prev
                    use(href="./img/spriteSvg.svg#svg-prev")
            button.slider-next#slider-next-reviews
                svg.svg-next
                    use(href="./img/spriteSvg.svg#svg-next")
            //slider
            .swiper.reviews-slider
                .swiper-wrapper
                    // slide
                    .swiper-slide
                        .review-img(data-modal-button="photo-modal")
                            picture
                                source(srcset="./img/reviews/review01@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review01.webp" width="609" height="430" alt="review" loading="lazy")
                    // slide
                    .swiper-slide
                        .review-img(data-modal-button="photo-modal")
                            picture
                                source(srcset="./img/reviews/review02@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review02.webp" width="609" height="430" alt="review" loading="lazy")
                    // slide
                    .swiper-slide
                        .review-img(data-modal-button="photo-modal")
                            picture
                                source(srcset="./img/reviews/review03@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review03.webp" width="609" height="430" alt="review" loading="lazy")
                    // slide
                    .swiper-slide
                        .review-img(data-modal-button="photo-modal")
                            picture
                                source(srcset="./img/reviews/review01@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review01.webp" width="609" height="430" alt="review" loading="lazy")
                    // slide
                    .swiper-slide
                        .review-img(data-modal-button="photo-modal")
                            picture
                                source(srcset="./img/reviews/review02@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review02.webp" width="609" height="430" alt="review" loading="lazy")
                    // slide
                    .swiper-slide
                        .review-img(data-modal-button="photo-modal")
                            picture
                                source(srcset="./img/reviews/review03@2x.webp" media="(min-resolution: 192dpi)" width="609" height="430")
                                img(src="./img/reviews/review03.webp" width="609" height="430" alt="review" loading="lazy")
                .swiper-pagination
//modal
div(class="fade-block hidden" data-modal="photo-modal" id="modal-photo")
    .modal-window
        .img-block
            button(class="btn-close-modal" data-modal-close)
                svg.svg-close
                    use(href="./img/spriteSvg.svg#svg-close")
            img(src="", width="513" height="727", alt="doc", loading="lazy")