// school-services
section.school-services
    .container
        //SERVICE SECTOR
        .school-services__title
            h2.section-title.section-title--white Услуги нашей компании для ЧОП
            h3.section-subtitle Профессиональное обучение по профессии охранник
        // slider
        .swiper.center-services-slider
            .swiper-wrapper
                .swiper-slide
                    +school-mix("Охранник", "5 000 ₽", "4 разряд", "4")
                .swiper-slide
                    +school-mix("Охранник", "6 000 ₽", "5 разряд", "5")
                .swiper-slide
                    +school-mix("Охранник", "6 500 ₽", "6 разряд", "6")
            .swiper-pagination
        //SERVICE SECTOR
        .school-services__title.school-services__title--mt19
            h3.section-subtitle Повышение квалификации для сотрудников охраны
        // slider
        .swiper.center-services-slider
            .swiper-wrapper
                .swiper-slide
                    +school-mix("Охранник", "3 000 ₽", "4 разряд", "4")
                .swiper-slide
                    +school-mix("Охранник", "4 000 ₽", "5 разряд", "5")
                .swiper-slide
                    +school-mix("Охранник", "4 500 ₽", "6 разряд", "6")
            .swiper-pagination
        //SERVICE SECTOR
        .school-services__title.school-services__title--mt19
            h3.section-subtitle Ежегодная периодическая проверка охранников
        // slider
        .swiper.center-services-slider
            .swiper-wrapper
                .swiper-slide
                    +school-mix("Охранник", "3 600 ₽", "4 разряд", "4")
                .swiper-slide
                    +school-mix("Охранник", "4 000 ₽", "5 разряд", "5")
                .swiper-slide
                    +school-mix("Охранник", "4 800 ₽", "6 разряд", "6")
            .swiper-pagination
        //SERVICE SECTOR
        .school-services__title.school-services__title--mt19
            h3.section-subtitle Обучение руководителей частных охранных организаций
        // slider
        .swiper.center-services-slider
            .swiper-wrapper
                .swiper-slide
                    +school-mix("Первичное обучение руководителей ЧОО", "12 000 ₽")
                .swiper-slide
                    +school-mix("Повышение квалификации руководителей ЧОО", "6 000 ₽")
                .swiper-slide
                    +school-mix("Прочие обучения для руководителей ЧОО", "По запросу")
            .swiper-pagination
