// section-security
section.security
    .container
        include ../blocks/fixed-menu.pug
        .banner.banner--security
            // logo
            .security-logo
                picture
                    source(srcset="./img/security/security-logo-mob@2x.webp" media="(max-width: 1364px) and (min-resolution: 192dpi)" width="121" height="130")
                    source(srcset="./img/security/security-logo-mob.webp" media="(max-width: 1364px)" width="121" height="130")
                    source(srcset="./img/security/security-logo@2x.webp" media="(min-resolution: 192dpi)" width="430" height="465")
                    img(src="./img/security/security-logo.webp" width="430" height="465" alt="logo" loading="lazy")
            // content
            .banner-content
                h1.headline.headline--security Охранная организация
                p.banner__text-security Мы оказываем качественные услуги в области обеспечения физической безопасности: от постовой охраны и сопровождения грузов до монтажа СКУД и установки систем видеонаблюдения
                p.banner__text-security Сотрудники нашего охранного предприятия обладают необходимым опытом и знаниями для выполнения задач по обеспечению безопасности на самом высоком уровне. Мы делаем все возможное, чтобы наши Клиенты были спокойны и уверены как в собственной безопасности, так и в безопасности своего имущества и бизнеса
                .banner-btns
                    a.btn Услуги и цены
                    a(class="btn-banner btn-banner--security" data-modal-button="modal") Оставить заявку
//modal
div(class="fade-block hidden" data-modal="modal" id="modal")
    .modal-window
       include ../blocks/request-form.pug
