// security-services
section.security-services
    .container
        .security-services__title
            h2.section-title.section-title--white Услуги нашей компании
        // slider
        .swiper.security-services-slider
            .swiper-wrapper
                .swiper-slide
                    +security-service('01', 'Стационарный пост охраны', 'Классический вариант физической охраны объектов. Сотрудник охраны обеспечивает безопасность объекта, пропускной режим, обход территории и пр.', 'от 260 ₽/ч')
                .swiper-slide
                    +security-service('02', 'Мобильный пост охраны', 'Установка временного поста охраны в любом удобном для Заказчика месте, актуально в случаях, когда невозможно организовать стационарный пост', 'от 300 ₽/ч')
                .swiper-slide
                    +security-service('03', 'Пультовая охрана (гбр)', 'Вооруженная группа быстрого реагирования прибудет по сигналу с «тревожной кнопки» в кратчайшие сроки', 'от 1500 ₽/мес')
                .swiper-slide
                    +security-service('04', 'Монтаж скуд', 'Обеспечение технических средств охраны любой сложности: от простых турникетов до биометрических систем доступа', 'от 6 000 ₽/уст')
                .swiper-slide
                    +security-service('05', 'Установка систем видеонаблюдения', 'Проектирование, монтаж и обслуживание систем видеонаблюдения – комплексная услуга по обеспечению защищенности объекта', 'от 8 900 ₽/ч')
                .swiper-slide
                    +security-service('06', 'Охрана мероприятий', 'Обеспечение безопасности при проведении массовых мероприятий, в том числе с применением технических средств охраны', 'от 5 000 ₽/ч')
            .swiper-pagination
        .security-services__info
            p.info-text Цены, представленные на сайте, носят исключительно ознакомительный характер и не являются публичной офертой.