// security-benefits
section.security-benefits
    .container
        // slider
        .swiper.benefits-slider
            .swiper-wrapper
                .swiper-slide
                    +benefit('star-circle', '> 15 лет опыта в сфере оказания охранных услуг', 'Компания начала свою деятельность в 2000-е годы и продолжает стремительно развиваться')(class="benefit-card--green")
                .swiper-slide
                    +benefit('cube', '> 700 объектов под нашей охраной', 'Опытный и квалифицированный персонал готов приступить к охране ваших объектов со всей ответственностью')(class="benefit-card--green")
                .swiper-slide
                    +benefit('time', '< 15 мин до прибытия группы быстрого реагирования', 'Незамедлительно выезжаем на охраняемые объекты по «тревожной кнопке» в любое время суток')(class="benefit-card--green")
            .swiper-pagination