// sertificates
section.sertificates
    .container
        .sertificates__title
            h2.section-title.section-title--white Лицензии и сертификаты
        .sertificates-row
            // slider
            .swiper.sertificates-slider
                .swiper-wrapper
                    // slide
                    .swiper-slide
                        .sertificates__img(data-modal-button="photo-modal")
                            picture
                                source(srcset="./img/center/certificate01@2x.webp" media="(min-resolution: 192dpi)" width="429" height="607")
                                img(src="./img/center/certificate01.webp" width="429" height="607" alt="certificate", loading="lazy")
                    // slide
                    .swiper-slide
                        .sertificates__img(data-modal-button="photo-modal")
                            picture
                                source(srcset="./img/center/certificate02@2x.webp" media="(min-resolution: 192dpi)" width="429" height="607")
                                img(src="./img/center/certificate02.webp" width="429" height="607" alt="certificate", loading="lazy")
                .swiper-pagination
            // sertificates - text
            .sertificates-text
                h3 Учебный центр содействие
                p Имеет все необходимые лицензии и аккредитации для осуществления заявленных видов деятельности
//modal
div(class="fade-block hidden" data-modal="photo-modal" id="modal-photo")
    .modal-window
        .img-block
            button(class="btn-close-modal" data-modal-close)
                svg.svg-close
                    use(href="./img/spriteSvg.svg#svg-close")
            img(src="./img/placeholder.webp", width="513" height="727", alt="doc", loading="lazy")

