// SERVICES
section.services.none
    .container
        // SERVICES BlOCK
        .services-block
            // SERVICES TITLE
            .services__title
                h2.title2 Что входит в производственный контроль
            .services__grid4
                // SERVICES CARD
                .services-card
                    .services-card__img
                        img(src="./img/icons/icon-service01.svg" alt="icon" width="80" height="80")
                    .services-card__text Лабораторные исследования факторов рабочей среды
                // SERVICES CARD
                .services-card
                    .services-card__img
                        img(src="./img/icons/icon-service02.svg" alt="icon" width="80" height="80")
                    .services-card__text Лабораторные исследования качества питьевой воды, горячей воды
                // SERVICES CARD
                .services-card
                    .services-card__img
                        img(src="./img/icons/icon-service03.svg" alt="icon" width="80" height="80")
                    .services-card__text Оформление протоколов по результатам измерений
                // SERVICES CARD
                .services-card
                    .services-card__img
                        img(src="./img/icons/icon-service04.svg" alt="icon" width="80" height="80")
                    .services-card__text Составление программы ПК
        // SERVICES BlOCK
        .services-block
            // SERVICES TITLE
            .services__title
                h2.title2 Что входит в аутсорсинг охраны труда
            .services__grid5
                // SERVICES CARD
                .services-card.services-card--01
                    .services-card__img
                        img(src="./img/icons/icon-service05.svg" alt="icon" width="80" height="80")
                    .services-card__text Разработка и внедрение необходимой документации по охране труда
                // SERVICES CARD
                .services-card.services-card--02
                    .services-card__img
                        img(src="./img/icons/icon-service06.svg" alt="icon" width="80" height="80")
                    .services-card__text Консультации по вопросам охраны труда и трудового законодательства
                // SERVICES CARD
                .services-card.services-card--03
                    .services-card__img
                        img(src="./img/icons/icon-service07.svg" alt="icon" width="80" height="80")
                    .services-card__text Представление интересов организации в органах государственного надзора
                // SERVICES CARD
                .services-card.services-card--04
                    .services-card__img
                        img(src="./img/icons/icon-service08.svg" alt="icon" width="80" height="80")
                    .services-card__text Возмещение через СФР (ФСС) средств, затраченных на охрану труда
                // SERVICES CARD
                .services-card.services-card--05
                    .services-card__img
                        img(src="./img/icons/icon-service09.svg" alt="icon" width="80" height="80")
                    .services-card__text Скидка до 30% на услуги Группы компаний: СОУТ, оценка рисков, обучение, медицинские осмотры и пр.
