//staff
section.staff.none
    .container
        .section-wrapper
            .staff__title
                h2.section-staff-title Основные предпосылки для передачи персонала
            .staff-content
                .staff__img
                    picture
                        source(srcset="./img/outstaff/staff-mob@2x.webp" media="(max-width: 767px) and (min-resolution: 192dpi)" width="356" height="253")
                        source(srcset="./img/outstaff/staff-mob.webp" media="(max-width: 767px)" width="356" height="253")
                        source(srcset="./img/outstaff/staff@2x.webp" media="(min-resolution: 192dpi)" width="638" height="452")
                        img(src="./img/outstaff/staff.webp" width="638" height="452" alt="staff")
                .staff__text
                    ul.staff__list
                        li Значительный рост штатной численности, который может повлечь переход на ОСНО
                        li Финансовая (налоговая) оптимизация для компаний на ОСНО
                        li Стремление к снижению административных рисков, связанных с управлением персоналом
                        li Сокращение нагрузки на административный персонал организации
                        li Отсутствие необходимых компетенций для ведения трудовых отношений с иностранными гражданами