// TABLES
section.tables.none
    // TABLE 2 COLUMNS
    .table-col2
        // TABLE HEAD
        .table-col2-head
            .table-col2-head__sell Штатная численность, чел
            .table-col2-head__sell Стоимость услуги, руб./мес*
        // TABLE BODY
        .table-col2-body
            // TABLE ROW
            .table-col2-row
                .table-col2-row__sell до 10
                .table-col2-row__sell от 7 000 ₽
            // TABLE ROW
            .table-col2-row
                .table-col2-row__sell до 40
                .table-col2-row__sell от 15 000 ₽
            // TABLE ROW
            .table-col2-row
                .table-col2-row__sell до 100
                .table-col2-row__sell от 35 000 ₽
            // TABLE ROW
            .table-col2-row
                .table-col2-row__sell более 100
                .table-col2-row__sell по запросу
    // TABLE 3 COLUMNS
    .table-col3
        // TABLE HEAD
        .table-col3-head
            .table-col3-head__sell Категория несчастного случая
            .table-col3-head__sell Стоимость услуги, руб./мес*
            .table-col3-head__sell Стоимость услуги, руб./мес*
        // TABLE BODY
        .table-col3-body
            // TABLE ROW
            .table-col3-row
                .table-col3-row__sell Лёгкий несчастный случай
                .table-col3-row__sell
                    ul
                        li 1 пострадавший
                        li более 1 пострадавшего
                .table-col3-row__sell
                    ul
                        li От 30 000 ₽
                        li От 40 000 ₽
            // TABLE ROW
            .table-col3-row
                .table-col3-row__sell Тяжёлый несчастный случай
                .table-col3-row__sell
                    ul
                        li 1 пострадавший
                        li более 1 пострадавшего
                .table-col3-row__sell
                    ul
                        li От 50 000 ₽
                        li по запросу
            // TABLE ROW
            .table-col3-row
                .table-col3-row__sell Смертельный несчастный случай
                .table-col3-row__sell 1 и более
                .table-col3-row__sell по запросу