// thesises
section.thesises
    // thesis
    blockquote.thesis.info-thesis
        img(src="./img/icons/icon_info.svg" alt="icon" width="56" height="56")
        .thesis__text Обновлённые приказы о комплектации медицинских аптечек вы можете скачать в конце статьи.
    // thesis
    blockquote.thesis
        img(src="./img/icons/icon_warning.svg" alt="icon" width="56" height="56")
        .thesis__text Работодатель, нарушивший требования по оформлению трудового договора, может быть привлечён к административной ответственности по части 4 статьи 5.27 КоАП РФ. Штраф за нарушение составляет от 50 000 до 100 000 рублей для юридических лиц.
    // thesis
    blockquote.thesis
        img(src="./img/icons/icon_book.svg" alt="icon" width="56" height="56")
        .thesis__text Основным нормативным документом, регулирующим проведение инструктажей по электробезопасности, является Приказ Минтруда РФ от 15.12.2020 N 903Н «Об утверждении Правил по охране труда при эксплуатации электроустановок» (далее — Правила).
    // thesis
    blockquote.thesis
        img(src="./img/icons/icon_idea.svg" alt="icon" width="56" height="56")
        .thesis__text Мы считаем, что время, затраченное на дорогу до медицинского центра, обязательно должно входить в общее время прохождения медицинского осмотра и подлежать оплате по среднему заработку.