// TOP PROJECTS
section.top-projects
    // TOP PROJECTS TITLE
    h2.title2 Топ проекты
    // CATEGORIES
    .categories-labels.categories-labels-wrap
        label.category-label-wrapper
            input(name="project-category" type="radio" class="real-radio" checked)
            span.category-label Показать все
        label.category-label-wrapper
            input(name="project-category" type="radio" class="real-radio")
            span.category-label Охрана труда
        label.category-label-wrapper
            input(name="project-category" type="radio" class="real-radio")
            span.category-label Медицинский центр
    h3.title3 Охрана труда