// TYPOGRAPHY
section.typography.none
    h1.title1 The quick brown fox jumps over the lazy dog.
    h2.title2 The quick brown fox jumps over the lazy dog.
    h3.title3 The quick brown fox jumps over the lazy dog.
    h4.title4 The quick brown fox jumps over the lazy dog.
    h4.title4.title4--medium The quick brown fox jumps over the lazy dog.
    h5.title5 The quick brown fox jumps over the lazy dog.
    h5.title5.title5--bold The quick brown fox jumps over the lazy dog.
    h6.title6 The quick brown fox jumps over the lazy dog.
    p.tag The quick brown fox jumps over the lazy dog.