// TYPOGRAPHY
section.typography
    .container
        h1.h1 The quick brown fox jumps over the lazy dog.
        h2.h2 The quick brown fox jumps over the lazy dog.
        h3.h3 The quick brown fox jumps over the lazy dog.
        h4.h4 The quick brown fox jumps over the lazy dog.
        h4.h4.h4--medium The quick brown fox jumps over the lazy dog.
        h5.h5 The quick brown fox jumps over the lazy dog.
        h5.h5.h5--bold The quick brown fox jumps over the lazy dog.
        h6.h6 The quick brown fox jumps over the lazy dog.
        p.tag The quick brown fox jumps over the lazy dog.