// unionmed-services
section.unionmed-services
    .container
        .unionmed-services__title
            h2.section-title.section-title--white Услуги нашей компании
        // slider
        .swiper.security-services-slider
            .swiper-wrapper
                .swiper-slide
                    +service('check-up', 'Медицинские осмотры', 'Обязательное регулярное обследование работников с целью выявления и профилактики профессиональных заболеваний', 'от 1500 ₽', "link")
                .swiper-slide
                    +service('lmk', 'Оформление ЛМК', 'Оформление санкнижки является обязательным условием для осуществления работы, связанной с изготовлением пищевых продуктов, воспитанием детей, обслуживанием населения', 'от 1800 ₽', "link")
                .swiper-slide
                    +service('brain', 'Обязательное психиатрическое освидетельствование', 'Обследование, проводимое с целью определения пригодности по состоянию психического здоровья к выполнению отдельных видов работ', 'от 1500 ₽', "link")
                .swiper-slide
                    +service('vac', 'Вакцинация', 'Комплекс мероприятий, направленных на формирование активного защитного иммунитета против определённых инфекционных заболеваний', 'от 300 ₽', "link")
                .swiper-slide
                    +service('eye', 'Предрейсовые и послерейсовые осмотры', 'Ежедневное обследование состояния здоровья работников отдельных сфер деятельности (транспорт, подземные работы и пр.), необходимое для выявления отклонений от нормы', 'от 500 ₽')
                .swiper-slide
                    +service('analysis', 'Справки, комиссии, анализы', 'Водительская или оружейная комиссия, справки в лагерь или на соревнования для детей, справка в спортзал и многое другое в нашем медицинском центре', '')
            .swiper-pagination
        .unionmed-services__info
            p.info-text Цены, представленные на сайте, носят исключительно ознакомительный характер и не являются публичной офертой.