// VACANCIES
.vacancies
    // VACANCIES TITLE
    h2.title2 Открытые вакансии компании
    // VACANCIES WRAPPER
    .vacancies-wrapper
        // VACANCIES CARD
        .vacancy-card
            h3.vacancy-card__title Специалист по охране труда
            .vacancy-card__labels
                .vacancy-card__label Опыт работы: от 1 года
                .vacancy-card__label График работы: 5/2
                .vacancy-card__label Оформление по ТК
                .vacancy-card__label В 5 минутах от метро
            .vacancy-card__btns.vacancy-card__btns-top
                button.btn-send Отправить
                button.vacancy-card__expand Показать больше
            // VACANCIES CARD HIDDEN
            .vacancy-card__hidden.hidden
                .vacancy-card__text
                    p Обязанности:
                    ul
                        li Продажа услуг в сфере охраны труда
                        li Активные продажи по телефону, ведение коммерческих переговоров с первыми лицами компаний, заключение сделок
                        li Сопровождение заказа на всех этапах его исполнения
                        li Контроль платежей‚ работа с дебиторской задолженностью
                        li Выполнение плановых показателей, отчетность
                    p Требования:
                    ul
                        li Успешный опыт работы в активных продажах с поиском клиентов на рынке В2В
                        li Уметь выходить на ЛПР
                        li Владеть базовыми навыками продаж и переговоров
                        li Умение организовывать себя и планировать свою деловую активность на день
                        li Способность саморазвиваться и быстро обучаться
                    p Условия
                    ul
                        li Оформление по ТК РФ
                        li Понятная система мотивации: оклад + премия KPI + % от продаж
                        li Офис в 5 минутах ходьбы от станции метро Обводный канал
                        li Стабильный график 9.00-18.00 с выходными в сб и вс
                        li Молодой, амбициозный коллектив
                .vacancy-card__btns
                    button.btn-send Откликнуться
                    button.vacancy-card__close Свернуть
        // VACANCIES CARD
        .vacancy-card
            h3.vacancy-card__title Менеджер по работе с клиентами
            .vacancy-card__labels
                .vacancy-card__label Опыт работы: от 1 года
                .vacancy-card__label График работы: 5/2
                .vacancy-card__label Оформление по ТК
                .vacancy-card__label В 5 минутах от метро
            .vacancy-card__btns.vacancy-card__btns-top
                button.btn-send Отправить
                button.vacancy-card__expand Показать больше
            .vacancy-card__hidden.hidden
                .vacancy-card__text
                    p Обязанности:
                    ul
                        li Продажа услуг в сфере охраны труда
                        li Активные продажи по телефону, ведение коммерческих переговоров с первыми лицами компаний, заключение сделок
                        li Сопровождение заказа на всех этапах его исполнения
                        li Контроль платежей‚ работа с дебиторской задолженностью
                        li Выполнение плановых показателей, отчетность
                    p Требования:
                    ul
                        li Успешный опыт работы в активных продажах с поиском клиентов на рынке В2В
                        li Уметь выходить на ЛПР
                        li Владеть базовыми навыками продаж и переговоров
                        li Умение организовывать себя и планировать свою деловую активность на день
                        li Способность саморазвиваться и быстро обучаться
                    p Условия
                    ul
                        li Оформление по ТК РФ
                        li Понятная система мотивации: оклад + премия KPI + % от продаж
                        li Офис в 5 минутах ходьбы от станции метро Обводный канал
                        li Стабильный график 9.00-18.00 с выходными в сб и вс
                        li Молодой, амбициозный коллектив
                .vacancy-card__btns
                    button.btn-send Откликнуться
                    button.vacancy-card__close Свернуть
    include ../blocks/vacancies-form-block.pug

