// VARIANTS
section.variants.none
    .container
        // VARIANTS TITLE
        .variants__title
            h2.title2 Варианты аутсорсинга охраны труда
        // slider
        .swiper.variants-slider
            .swiper-wrapper
                .swiper-slide
                    // VARIANT CARD
                    .variant-card
                        .variant-card__content
                            .variant-card__title
                                h3.title3 Охрана труда
                            .variant-card__text Охрана труда «под ключ»: от разработки Положения о системе управления охраной труда и приказов о назначении ответственных лиц до расследования несчастных случаев на производстве
                        .variant-card__img
                            img(src="./img/templates/variant01.svg" alt="character" width="216" height="311")
                .swiper-slide
                    // VARIANT CARD
                    .variant-card
                        .variant-card__content
                            .variant-card__title
                                h3.title3 Охрана труда и пожарная безопасность
                            .variant-card__text Мы дополнительно возьмём на себя документационное обеспечение пожарной безопасности: разработаем приказы о назначении ответственных лиц, организуем обучение и проведение инструктажей
                        .variant-card__img
                            img(src="./img/templates/variant02.svg" alt="character" width="216" height="353")
                .swiper-slide
                    // VARIANT CARD
                    .variant-card
                        .variant-card__content
                            .variant-card__title
                                h3.title3 Охрана труда, пожарная безопасность, ГО и ЧС
                            .variant-card__text Помимо охраны труда и пожарной безопасности мы также займёмся организацией мероприятий по ГО и ЧС: определим ответственных лиц, организуем необходимые обучения и инструктажи
                        .variant-card__img
                            img(src="./img/templates/variant03.svg" alt="character" width="288" height="277")
            .swiper-pagination
