* {
  box-sizing: border-box;
}

.none {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  font-family: var(--font-family);
  padding: 0;
  width: 100%;

  -webkit-font-smoothing: antialiased;
}

.noscroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  height: 100vh;

  padding-right: 17px;

  @media (max-width: 1199px) {
    padding-right: 0;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

main {
  padding-bottom: 113px;
  background-color: var(--bg-color);

  @media (max-width: 1660px) {
    padding-bottom: 72px;
  }

  @media (max-width: 1023px) {
    padding-bottom: 40px;
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-padding);

  @media (max-width: 1300px) {
    padding-inline: 106px;
  }

  @media (max-width: 767px) {
    padding-inline: 9px;
  }
}

.section-wrapper {
  padding: 80px 72px 68px 72px;
  background-color: var(--color-white);

  @media (max-width: 1660px) {
      padding: 60px 55px 51px 55px;
  }

  @media (max-width: 1023px) {
      padding: 38px 61px 72px 61px;
  }

  @media (max-width: 767px) {
      padding: 32px 16px 72px 16px;
  }
}

.headline {
  font-weight: 600;
  font-size: 79px;
  color: #1c1919;
  text-transform: uppercase;

  @media (max-width: 1660px) {
    font-size: 60px;
  }

  @media (max-width: 1364px) {
    font-family: var(--second-family);
    font-size: 36px;
    line-height: 1.11;
    font-variant: small-caps;
    color: #223642;
  }

  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 1;
  }
}

.section-title {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;

  @media (max-width: 1023px) {
    font-family: var(--second-family);
    font-size: 29px;
    line-height: 1.24;
  }
}

.section-title--white {
  color: var(--color-white);

  @media (max-width: 1660px) {
    font-size: 30px;
  }
}

.section-title--dark {
  color: #1c1919;

  @media (max-width: 1660px) {
    font-size: 32px;
  }

  @media (max-width: 1023px) {
    font-size: 29px;
  }
}

// modal
.fade-block {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.46);
}

.modal-window {
  padding: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.46);


  @media (max-width: 1660px) {
    align-items: flex-start;
    padding-top: 40px;
    padding: 60px;
    overflow-y: auto;
  }

  @media (max-width: 767px) {
    align-items: center;
    padding: 15px;
  }
}

.hidden {
  display: none;
}