* {
  box-sizing: border-box;
}

.none {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  font-family: var(--font-family);
  padding: 0;
  width: 100%;

  -webkit-font-smoothing: antialiased;
}

.noscroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  height: 100vh;
}


a {
  text-decoration: none;
  color: inherit;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}

main {
  background-color: var(--bg-color);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-padding);

  @media (max-width: 1300px) {
    padding-inline: 106px;
  }

  @media (max-width: 767px) {
    padding-inline: 9px;
  }
}


.headline {
  font-weight: 600;
  font-size: 79px;
  color: #1c1919;
  text-transform: uppercase;

  @media (max-width: 1660px) {
    font-size: 60px;
  }

  @media (max-width: 1364px) {
    font-family: var(--second-family);
    font-size: 36px;
    line-height: 1.11;
    font-variant: small-caps;
    color: #223642;
  }

  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 1;
  }
}

.section-title {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;


}

.section-title--white {
  color: var(--color-white);

  @media (max-width: 1660px) {
    font-size: 30px;
  }

  @media (max-width: 1023px) {
    font-family: var(--second-family);
    font-size: 29px;
    line-height: 1.24;
  }
}

.section-title--dark {
  color: #1c1919;
}