:root {
	--container-width: 1920px;
	--container-padding: 100px;

	--font-family: "Fira Sans", sans-serif;
	--second-family: "Fira Sans Condensed", sans-serif;

    --bg-color: #223642;
	--color-white: #fff;
	--color-muted: #909ca3;
	--color-blue-dark: #223642;

	--btn-color: #DD5514;

	--dark-blue: #223642;
	--primary: #395a64;
	--secondary: #5d818c;
	--accent: #ca653b;
	--accent-2: #ff735c;
	--dark-grey: #6a6a6a;
	--grey: #c1c1c1;
	--light-grey: #f7f7f7;
	--white: #fff;

}