.accordeon-block, .accordeon-table-block {
    padding-bottom: 80px;

    @media (max-width: 767px) {
        padding-bottom: 64px;
    }
}

.accordeon__item {
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--light-grey)
}

.accordeon__item + .accordeon__item {
    margin-top: 16px;
}

.accordeon__header {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding: 6px 24px;
    padding-bottom: 7px;
    transition: .5s;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        right: 24px;
        width: 24px;
        height: 24px;
        background-image: url("../img/icons/accordeon-down.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .3s;
    }

    @media (max-width: 767px) {
        column-gap: 10px;
        padding-left: 16px;
        padding-right: 100px;
    }
}

.show::after {
    content: "";
    position: absolute;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icons/accordeon-up.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;
}

.accordeon__num {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 72px;
    font-variant: small-caps;
    color: var(--primary);

    span {
        font-size: 40px;
        vertical-align: 30px;

        @media (max-width: 1023px) {
            font-size: 32px;
        }

        @media (max-width: 767px) {
            font-size: 16px;
            vertical-align: unset;
        }
    }

    @media (max-width: 1023px) {
        font-size: 56px;
    }

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 32px;
    }
}

.accordeon__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    color: var(--dark-blue);

    @media (max-width: 1023px) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.accordeon__content {
    height: 0;
    padding-inline: 40px;
    overflow: hidden;
    transition: height 0.3s ease-out;

    display: block;

    .accordeon__text {
        padding-left: 140px;
        padding-top: 30px;
        padding-bottom: 24px;
        font-size: 24px;
        line-height: 1.33;
        color: var(--dark-grey);

        @media (max-width: 1023px) {
            padding-top: 0px;
            padding-left: 115px;
            font-size: 16px;
            line-height: 1.5;
        }

        @media (max-width: 767px) {
            padding-left: 15px;
        }
    }

    ul {
        width: 60%;
        padding-top: 16px;

        @media (max-width: 1023px) {
            width: 70%;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    ul li::before {
        content: "\2022";
        color: var(--dark-grey);
        font-weight: normal;
        display: inline-block;
        width: 0.5em;
    }
}

.accordeon.accordeon-table {
    .accordeon__header {
        padding-block: 33px;
    }

    .accordeon__content {
        padding-inline: 24px;
    }

    .accordeon__text {
        padding-top: 10px;
        padding-left: 0;
        padding-right: 150px;

        @media (max-width: 767px) {
            padding-right: 0;
        }
    }

    .table-acc {
        width: 100%;
        padding-bottom: 30px;

        @media (max-width: 575px) {
            width: 76vw;
            overflow: hidden;
            overflow-x: auto;
            scrollbar-width: none;
        }
    }

    .table-acc-head {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        background-color: var(--primary);
        border-radius: 12px;

        @media (max-width: 575px) {
            justify-content: flex-start;
            width: 520px;
    }
    }

    .table-acc-head__sell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 24px;
        padding-inline: 15px;
        width: 50%;

        font-weight: 500;
        font-size: 24px;
        text-align: center;
        color: var(--white);

        @media (max-width: 1023px) {
            font-size: 20px;
            padding-block: 16px;
        }
    }

    .table-acc-head__sell {
        width: 33.3%;
    }

    .table-acc-row {
        min-height: 80px;
        display: flex;
        column-gap: 16px;
        width: 100%;
        justify-content: space-between;

        @media (max-width: 1023px) {
            column-gap: 8px;
        }

        @media (max-width: 575px) {
            justify-content: flex-start;
            width: 520px;
    }
    }

    .table-acc-row + .table-acc-row {
        margin-top: 16px;

        @media (max-width: 1023px) {
            margin-top: 8px;
        }
    }

    .table-acc-row__sell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 24px;
        border-radius: 12px;
        width: 50%;
        font-size: 24px;
        line-height: 1.33;
        color: var(--dark-blue);
        text-align: center;

        @media (max-width: 1023px) {
            padding: 8px 16px;
            font-size: 20px;
            line-height: 1.4;
        }
    }

    .table-acc-row:nth-child(odd) {
        background: var(--color-white);
        border-radius: 12px;
    }

}