.anchor-block {
    background-color: var(--dark-blue);
    width: 400px;
    height: 100px;
    border-radius: 8px;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.anchor {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    background-color: transparent;

    font-size: 20px;
    line-height: 1.4;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 0.8);

    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;

    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover, &:active {
        color: var(--color-white);
    }

    @media (max-width: 1200px) {
        font-size: 16px;
        line-height: 1.5;
    }
}