.articles-author {
    padding-bottom: 56px;

    .title3 {
        margin-bottom: 30px;
    }
}

.articles-form-block {
    .title3 {
        margin-bottom: 30px;

        @media (max-width: 1023px) {
            margin-bottom: 24px;
        }

        @media (max-width: 767px) {
            margin-bottom: 16px;
        }
    }
}

.author {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    column-gap: 16px;

    @media (max-width: 1023px) {
        margin-bottom: 32px;
    }
}

.author__img {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.author__name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    color: var(--dark-blue);

    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 1.37;
    }
}

.author__role {
    font-size: 20px;
    line-height: 1.4;
    color: var(--dark-grey);

    @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 1.5;
    }

    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 1.29;
    }
}