.articles-form-block {
    margin-top: 56px;
    background-color: var(--light-grey);
    border-radius: 20px;
    padding: 56px;

    @media (max-width: 767px) {
        padding: 24px 16px;
    }
}

.articles-form-title {
    .title2 {
        text-transform: uppercase;

        @media (max-width: 767px) {
            margin-bottom: 8px;
        }
    }
}

.articles-form-text {
    font-size: 24px;
    line-height: 1.33;
    color: var(--dark-grey);

    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 1.5;
    }

    p + p {
        margin-top: 16px;
    }
}

.articles-form-wrapper {
    display: flex;
    column-gap: 72px;

    @media (max-width: 1324px) {
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
    }

    @media (max-width: 767px) {
        row-gap: 24px;
    }
}

.articles-form-col {
    width: 45%;
    flex-shrink: 0;

    .articles-form-title {
        @media (max-width: 1324px) {
            text-align: center;
        }

        @media (max-width: 1160px) {
            width: 100%;
        }
    }

    .articles-form-text {
        @media (max-width: 1324px) {
            text-align: center;
        }

        @media (max-width: 1160px) {
            width: 100%;
        }
    }

    @media (max-width: 1324px) {
        width: 66%;
    }

    @media (max-width: 1160px) {
        width: 100%;
    }
}

.articles-form {
    width: 100%;

    @media (max-width: 1324px) {
        width: 66%;
    }

    @media (max-width: 1160px) {
        width: 100%;
    }


    .request-form-privacy {
        font-size: 16px;
        line-height: 1.5;
        color: var(--dark-grey);
    }

    .checkbox {
        display: flex;
        align-items: center;
        column-gap: 8px;

        @media (max-width: 525px) {
            align-items: flex-start;
        }
    }

    .custom-checkbox {
        border: 1px solid var(--grey);
        border-radius: 4px;
        width: 20px;
        height: 20px;
        margin-right: 0;

        @media (max-width: 525px) {
            margin-top: 3px;
        }
    }

    .custom-checkbox::before {
        width: 15px;
        height: 7px;
    }

    .form-item-btn {
        margin-top: 24px;
        width: 100%;

        .btn-submit {
            width: 100%;
            height: 56px;
            border-radius: 12px;
            line-height: 56px;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.33;
            font-variant: all-small-caps;
            color: var(--white);
            background-color: var(--primary);
            transition: 0.3s ease-in;

            &:hover, &:active {
                background-color: var(--secondary);
            }
        }
    }
}

.articles-form-input {
    display: block;
    width: 100%;
    height: 60px;
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 12px;
    padding: 0 16px;
    font-size: 20px;
    color: var(--dark-blue);

    &:focus {
        border: 2px solid var(--primary);
    }

    @media (max-width: 767px) {
        height: 40px;
        font-size: 16px;
    }
}

.articles-form-input--textarea {
    height: 160px!important;
    padding: 16px;

    @media (max-width: 1023px) {
        height: 120px!important;
    }

    @media (max-width: 767px) {
        padding-block: 8px;
    }
}

.articles-form-input.invalid {
    border: 1px solid var(--accent-2);
    color: var(--accent-2);
}

.articles-form-input::placeholder {
    color: var(--grey);
  }

.form-item-mb8 {
    margin-bottom: 8px;
  }

.form-item-mb16 {
    margin-bottom: 16px;
}

.form-item-mb24 {
    margin-bottom: 24px;
  }