.aside-menu-wrapper {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    inset: 0;
    background-color:rgba(34, 54, 66, 0.2);
    opacity: 0;
    transform: translateX(-130%);
    transition: .5s;
}

.aside-menu-wrapper.active {
    opacity: 1;
    transform: translateX(0%);
}

.aside-menu {
    background-color: #375a64;
    width: 428px;
    padding-bottom: 30px;

    @media (max-width: 1199px) {
        padding-inline: 90px;
        width: 100%;
        background-color: var(--color-white);
    }

    @media (max-width: 767px) {
        padding-inline: 0;
    }
}

.aside-menu-top {
    margin-bottom: 70px;
    padding-block: 29px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a4953;

    @media (max-width: 1199px) {
        margin-bottom: 0;
        padding-block: 15px;
        padding-inline: 45px;
        background-color: var(--color-white);
    }

    @media (max-width: 767px) {
        padding-inline: 20px;
    }
}

.aside-menu__icons {
    display: none;

    @media (max-width: 1199px) {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
    }
}
.aside-menu__icons-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;


    svg {
        width: 26px;
        height: 26px;
        color: #223642;
    }

    @media (max-width: 767px) {
        width: 25px;
        height: 25px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}


.aside-menu__logo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 47px;

    .svg-logo {
        color: #F0EDED;
    }

    @media (max-width: 1199px) {
        width: 99px;
        height: 60px;
        .svg-logo {
            color: #223642;
        }
    }

    @media (max-width: 767px) {
        width: 66px;
        height: 40px;
    }
}

.btn-close-menu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .svg-close {
        color: var(--color-white);
        width: 20px;
        height: 20px;
    }

    @media (max-width: 1199px) {
        .svg-close {
            color: #223642;
        }
    }
}

.menu-wrapper {
    @media (max-width: 1199px) {
        background-color: #375a64;
        border-radius: 45px 45px 0 0;
    }
}

.menu-list {
    padding-inline: 20px;
    padding-bottom: 78px;

    @media (max-width: 1199px) {
        padding-inline: 60px;
        padding-top: 50px;
        padding-bottom: 35px;
    }

    @media (max-width: 767px) {
        padding-inline: 35px;
    }
}

.menu-item {
    border-bottom: 2px solid #627981;

    @media (max-width: 1199px) {
        border-bottom: none;
    }
}

.menu-item:not(:last-child) {
    margin-bottom: 25px;
}

.menu-link {
    width: 100%;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--second-family);
    font-weight: 350;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s ease-in;

    .svg-next {
        width: 21px;
        height: 13px;
        color: white;
    }

    &:hover {
        color: var(--color-muted);
    }

    @media (max-width: 1199px) {
        font-weight: 500;
        font-size: 25px;

        .svg-next {
            transform: rotate(90deg);
        }
    }

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.submenu {
    display: none;


    @media (max-width: 1199px) {
        // margin-top: 0px;
    }
}

.submenu li {
    margin-bottom: 30px;
    font-family: var(--second-family);
    font-size: 25px;
    color: #fff;
    // display: none;

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.search {
    margin-bottom: 25px;
    position: relative;
}

.search__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    .svg-search {
        color: #adb9bb;
        width: 25px;
        height: 25px;
    }
}

.search__input {
    width: 100%;
    height: 32px;
    background-color: #3a4953;
    border: none;
    padding-left: 46px;
    padding-right: 15px;
    font-family: var(--second-family);
    font-weight: 350;
    font-size: 20px;
    color: var(--color-white);

}

.search__input::placeholder {
    color: #a4b2b4;
}

.aside-menu-modal-btn {
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 350;
    font-size: 22px;
    color: #fff;
    transition: .3s ease-in;

    &:hover, &:active {
        color: var(--color-muted);
    }

    @media (max-width: 1199px) {
        display: none;
    }
}

.aside-menu-bottom {
    padding-inline: 20px;
    background-color: #375a64;

    @media (max-width: 1199px) {
        padding-inline: 60px;
    }

    @media (max-width: 767px) {
        padding-inline: 35px;
    }
}
.aside-menu__social {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 18px;
}

.aside-menu__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    transition: .3s ease-in;

    svg {
        color: white;
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.aside-menu__social-item.youtube {
    width: 49px;
    height: 35px;
}

.aside-menu__contacts {
    @media (max-width: 1199px) {
        display: none;
    }
}

.aside-menu__contacts-item {
    font-family: var(--second-family);
    font-weight: 350;
    font-size: 14px;
    color: #f9fafa;

    a {
        transition: .3s ease-in;
    }

    a:hover {
        color: var(--color-muted);
    }
}

.aside-menu__contacts-item:not(:last-child) {
    margin-bottom: 8px;
}

.aside-menu__contacts-mob {
    display: none;

    @media (max-width: 1199px) {
        display: block;
    }

    .aside-menu__contacts-mob-text {
        margin-bottom: 30px;
        font-size: 16px;
        color: var(--color-white);
    }
}

.aside-menu__contacts-mob-item {
    display: flex;
    align-items: center;
    column-gap: 10px;

    a {
        font-size: 16px;
        color: #01a7ff;

        &:hover {
            color: var(--color-muted);
        }
    }

    span {
        font-size: 16px;
        color: var(--color-white);
    }

    svg {
        color: white;
    }

    .svg-mail {
        width: 14px;
        height: 11px;
    }
}

.aside-menu__contacts-mob-item:not(:last-child) {
    margin-bottom: 10px;
}