.btn {
    display: inline-block;

    padding: 0 32px;
    height: 61px;

    border-radius: 12px;
    border: 2px solid #223642;

    background-color: transparent;

    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: #223642;
    text-align: center;

    font-family: inherit;
    line-height: 61px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover, &:active {
        background-color: var(--bg-color);
        color: var(--color-white);
    }

    @media (max-width: 1660px) {
        border: 1.50px solid #223642;
        border-radius: 8px;
        height: 46px;
        line-height: 46px;
        font-size: 20px;
    }

    @media (max-width: 430px) {
        font-size: 25px;
        width: 100%;
    }
}

.btn-banner {
    display: inline-block;

    padding: 0 32px;
    height: 61px;

    border-radius: 12px;
    color: #fff;
    background-color: #393a5a;
    border: none;

    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;

    line-height: 61px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover, &:active {
        background-color: lighten($color: #393a5a, $amount: 15%);
    }

    @media (max-width: 1660px) {
        border-radius: 8px;
        height: 46px;
        line-height: 46px;
        font-size: 20px;
    }

    @media (max-width: 1023px) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 145px;
        right: -60px;
        height: 40px;
        padding-inline: 12px;
        border-radius: 17px 17px 0 0;
        color: var(--color-white);
        font-family: var(--second-family);
        font-size: 17px;
        font-weight: 400;
        line-height: 40px;
        transform: rotate(-90deg);
        z-index: 5;
        backdrop-filter: blur(14px);
        background-color: #375a64;
        text-transform: none;
    }

    @media (max-width: 767px) {
        top: 243px;
        color: #223642;
        background-color: rgba(255, 255, 255, 0.56);
        border: none;
    }
}

.btn-banner--yellow {
    background-color: #f9bd6e;
    border: none;

    &:hover, &:active {
        background-color: darken($color: #f9bd6e, $amount: 15%);
    }
}

.btn-banner--green {
    background-color: #0c713f;
    border: none;

    &:hover, &:active {
        background-color: lighten($color: #0c713f, $amount: 15%);
    }
}

.btn-submit {
    display: inline-block;

    padding: 0 26px;
    height: 68px;

    color: #fff;
    background-color: #375a64;
    border: none;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 30px;

    text-transform: uppercase;

    line-height: 68px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover, &:active {
        background-color: lighten($color: #375a64, $amount: 15%);
    }

    @media (max-width: 1023px) {
        height: 32px;
        line-height: 32px;
        font-size: 12px;
    }
}

.btn-submit-white {
    display: inline-block;

    padding: 0 44px;
    height: 62px;

    color: #fff;
    background-color: var(--color-white);
    border: none;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;

    border-radius: 13px;

    text-transform: uppercase;

    line-height: 62px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover, &:active {
        background-color: lighten($color: #223642, $amount: 15%);
        color: var(--color-white);
    }

    @media (max-width: 1440px) {
        height: 47px;
        line-height: 47px;
        font-size: 18px;
        padding: 0 33px;
    }

    @media (max-width: 932px) {
        height: 66px;
        line-height: 66px;
        max-width: 100%;
        width: 100%;
        font-weight: 600;
        font-size: 28px;
        font-variant: all-small-caps;
      }

}