.btn {
    display: inline-block;

    padding: 0 32px;
    height: 61px;

    border-radius: 12px;
    border: 2px solid #223642;

    background-color: transparent;

    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: #223642;
    text-align: center;

    font-family: inherit;
    line-height: 61px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover, &:active {
        background-color: var(--bg-color);
        color: var(--color-white);
    }

    @media (max-width: 1660px) {
        border: 1.50px solid #223642;
        border-radius: 8px;
        height: 46px;
        line-height: 46px;
        font-size: 20px;
    }

    @media (max-width: 430px) {
        font-size: 25px;
        width: 100%;
    }
}

.btn-banner {
    display: inline-block;

    padding: 0 32px;
    height: 61px;

    border-radius: 12px;
    color: #fff;
    background-color: #393a5a;
    border: none;

    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;

    line-height: 61px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    // &:hover, &:active {
    //     background-color: lighten($color: #393a5a, $amount: 15%);
    // }

    @media (max-width: 1660px) {
        border-radius: 8px;
        height: 46px;
        line-height: 46px;
        font-size: 20px;
    }

    @media (max-width: 1023px) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 145px;
        right: -60px;
        height: 40px;
        padding-inline: 12px;
        border-radius: 17px 17px 0 0;
        color: var(--color-white);
        font-family: var(--second-family);
        font-size: 17px;
        font-weight: 400;
        line-height: 40px;
        transform: rotate(-90deg);
        z-index: 5;
        backdrop-filter: blur(14px);
        background-color: #375a64;
        text-transform: none;
    }

    @media (max-width: 767px) {
        top: 243px;
        color: #223642;
        background-color: rgba(255, 255, 255, 0.56);
        border: none;
    }
}

.btn-banner--cot {
    background-color: #f9bd6e;
    border: none;

    // &:hover, &:active {
    //     background-color: darken($color: #f9bd6e, $amount: 15%);
    // }
}

.btn-banner--security {
    background-color: #0c713f;
    border: none;

    // &:hover, &:active {
    //     background-color: lighten($color: #0c713f, $amount: 15%);
    // }
}

.btn-banner--unionmed {
    background-color: #4f7853;
    border: none;

    // &:hover, &:active {
    //     background-color: lighten($color: #4f7853, $amount: 15%);
    // }
}

.btn-banner--center {
    background-color: #0F7290;
    border: none;

    // &:hover, &:active {
    //     background-color: lighten($color: #0F7290, $amount: 15%);
    // }
}

.btn-banner--school {
    background-color: #3b80a7;
    border: none;

    // &:hover, &:active {
    //     background-color: lighten($color: #3b80a7, $amount: 15%);
    // }
}

.btn-submit {
    display: inline-block;

    padding: 0 26px;
    height: 68px;

    color: #fff;
    background-color: #375a64;
    border: none;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 30px;

    text-transform: uppercase;

    line-height: 68px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    // &:hover, &:active {
    //     background-color: lighten($color: #375a64, $amount: 15%);
    // }

    @media (max-width: 1023px) {
        height: 32px;
        line-height: 32px;
        font-size: 12px;
    }
}

.btn-submit-white {
    display: inline-block;

    padding: 0 44px;
    height: 62px;

    color: #fff;
    background-color: var(--color-white);
    border: none;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;

    border-radius: 13px;

    text-transform: uppercase;

    line-height: 62px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover, &:active {
        // background-color: lighten($color: #223642, $amount: 15%);
        color: var(--color-white);
    }

    @media (max-width: 1440px) {
        height: 47px;
        line-height: 47px;
        font-size: 18px;
        padding: 0 33px;
    }

    @media (max-width: 932px) {
        height: 66px;
        line-height: 66px;
        max-width: 100%;
        width: 100%;
        font-weight: 600;
        font-size: 28px;
        font-variant: all-small-caps;
      }
}

.btn-uniform {
    position: relative;
    z-index: 2;
    display: inline-block;

    padding: 0 30px;
    height: 66px;

    color: #fff;
    background-color: #3b80a7;
    border: none;
    border-radius: 12px;

    font-weight: 600;
    font-size: 25px;

    text-transform: uppercase;

    line-height: 66px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    max-width: 273px;

    &:hover, &:active {
        // background-color: lighten($color: #3b80a7, $amount: 15%);
    }

    @media (max-width: 1660px) {
        padding: 0 22px;
        font-size: 20px;
        max-width: 214px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
}

.btn-services {
    display: none;

    padding: 0 16px;
    height: 35px;

    color: #223642;
    background-color: var(--color-white);
    border: none;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    font-variant: all-small-caps;

    border-radius: 32px;

    text-transform: uppercase;

    line-height: 35px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover, &:active {
        background-color: #5d818c;
        color: var(--color-white);
    }

    @media (max-width: 767px) {
        display: inline-block;
        margin: 0 auto;
    }
}

.back-btn {
    width: 94px;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 50%;

    .svg-arrow-right-mob {
        transform: rotate(180deg);
        width: 60px;
        height: 40px;
    }
}

.btn-show-more {
    display: inline-block;

    padding: 0 16px;
    height: 56px;

    color: var(--white);
    background-color: var(--primary);;
    border: none;
    border-radius: 12px;

    font-weight: 500;
    font-size: 24px;
    font-variant: all-small-caps;
    text-transform: uppercase;
    line-height: 56px;
    white-space: nowrap;

    cursor: pointer;

    transition: 0.2s ease-in;

    &:hover {
        background-color: var(--secondary);
    }

    &:active, &:focus {
        background-color: #24444d;
    }

    @media (max-width: 1023px) {
        height: 45px;
        line-height: 45px;
    }

    @media (max-width: 767px) {
        height: 42px;
        line-height: 42px;
        font-size: 20px;
    }
}