/*========GAMBURGER======*/

.burger {
    z-index: 15;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 52px;
    height: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    @media (max-width: 1660px) {
        width: 39px;
        height: 24px;
    }

    @media (max-width: 1300px) {
        width: 31px;
        height: 20px;
    }

    @media (max-width: 767px) {
      width: 26px;
      height: 17px;
  }
  }

  .burger span {
    position: relative;
    height: 4px;
    width: 52px;
    background-color: #f0eded;
    z-index: 1;

    @media (max-width: 1660px) {
        width: 39px;
        height: 3px;
    }

    @media (max-width: 1300px) {
        width: 31px;
    }

    @media (max-width: 767px) {
      width: 26px;
  }
  }

  .burger span:after {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    background-color: #f0eded;
    right: 0;

    @media (max-width: 1660px) {
        height: 3px;
    }


  }

  .burger span:before {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    right: 0;
    background-color: #f0eded;

    @media (max-width: 1660px) {
        height: 3px;
    }

  }

  .burger span:after {
    top: -13px;

    @media (max-width: 1660px) {
        top: -10px;
    }

    @media (max-width: 1300px) {
        top: -8px;
    }

    @media (max-width: 767px) {
      top: -7px;
  }
  }

  .burger span:before {
    bottom: -13px;

    @media (max-width: 1660px) {
        bottom: -10px;
    }

    @media (max-width: 1300px) {
        bottom: -8px;
    }

    @media (max-width: 767px) {
      bottom: -7px;
  }
  }




