.fixed-menu {
    position: fixed;
    top: 174px;
    left: 0;
    // z-index: 10;

    background-color: #F1F1F1;
    padding: 38px 15px;
    border-radius: 0 50px 50px 0;

    backdrop-filter: blur(14px);

    @media (max-width: 1660px) {
        top: 150px;
        padding: 28px 12px;
    }

    @media (max-width: 1440px) {
        top: 133px;
    }

    @media (max-width: 1300px) {
        top: 102px;
    }

    @media (max-width: 1023px) {
        top: auto;
        height: 83px;
        right: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 106px - 106px);
        // z-index: 5;
        padding-block: 13px;
        backdrop-filter: blur(22.799999237060547px);
        background-color: rgba(243, 243, 243, 0.45);
        border-radius: 35px 35px 0 0;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

.menu-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;

    @media (max-width: 1660px) {
        row-gap: 18px;
    }

    @media (max-width: 1023px) {
        flex-direction: row;
        column-gap: 32px;
    }

    @media (max-width: 767px) {
        column-gap: 23px;
    }
}

.menu-block-link {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: .3s ease-in;

    &:hover {
        transform: scale(1.2);
    }

    @media (max-width: 1660px) {
        width: 45px;
        height: 45px;
    }

    @media (max-width: 1023px) {
        width: 57px;
        height: 57px;
    }

    @media (max-width: 767px) {
        width: 41px;
        height: 41px;
    }
}

.logo-menu-cot {
    width: 45px;
    height: 26px;

    @media (max-width: 1660px) {
        width: 33px;
        height: 20px;
    }

    @media (max-width: 1023px) {
        width: 40px;
        height: 21px;
    }

    @media (max-width: 767px) {
        width: 29px;
        height: 16px;
    }
}

.logo-menu-unimed {
    width: 43px;
    height: 36px;

    @media (max-width: 1660px) {
        width: 32px;
        height: 27px;
    }

    @media (max-width: 1023px) {
        width: 48px;
        height: 40px;
    }

    @media (max-width: 767px) {
        width: 34px;
        height: 29px;
    }
}

.logo-menu-center {
    width: 45px;
    height: 45px;

    @media (max-width: 1660px) {
        width: 34px;
        height: 34px;
    }

    @media (max-width: 1023px) {
        width: 44px;
        height: 44px;
    }

    @media (max-width: 767px) {
        width: 33px;
        height: 33px;
    }
}

.logo-menu-school {
    width: 51px;
    height: 35px;

    @media (max-width: 1660px) {
        width: 38px;
        height: 26px;
    }

    @media (max-width: 1023px) {
        width: 47px;
        height: 32px;
    }

    @media (max-width: 767px) {
        width: 34px;
        height: 29px;
    }
}

.logo-menu-outstaff {
    width: 47px;
    height: 48px;

    @media (max-width: 1660px) {
        width: 35px;
        height: 36px;
    }

    @media (max-width: 1023px) {
        width: 38px;
        height: 42px;
    }

    @media (max-width: 767px) {
        width: 28px;
        height: 30px;
    }
}

.logo-menu-security {
    width: 44px;
    height: 46px;

    @media (max-width: 1660px) {
        width: 33px;
        height: 34px;
    }

    @media (max-width: 1023px) {
        width: 42px;
        height: 44px;
    }

    @media (max-width: 767px) {
        width: 27px;
        height: 29px;
    }
}