.guide-card {
    position: relative;
    background-color: #f2f7fa;
    border-radius: 20px;
    padding: 32px 28px;
}

.guide-card__title {
    max-width: 404px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #3b5361;
    transition: 0.3s ease-in;

    &:hover, &:active {
        color: var(--color-muted);
    }
}

// .guide-card__img {
//     position: absolute;
// }