.guide-card {
    position: relative;
    background-color: #f2f7fa;
    border-radius: 20px;
    overflow: hidden;
    padding-inline: 22px;

    @media (max-width: 1660px) {
        border-radius: 15px;
        padding-inline: 15px;
    }

    @media (max-width: 1023px) {
        border-radius: 12px;
    }
}

.guide-card__title {
    max-width: 404px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 3;
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #3b5361;
    transition: 0.3s ease-in;

    &:hover, &:active {
        color: var(--color-muted);
    }

    @media (max-width: 1660px) {
        text-decoration: none;
        font-size: 20px;
    }
}

.guide-card__img {
    position: relative;
    z-index: 1;
    mix-blend-mode: multiply;
}

.guide-card::after {
    content: "";
    display: block;
    height: 197px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(360deg, #fff 39.93%, rgba(255, 255, 255, 0) 100%);

    @media (max-width: 1660px) {
        height: 148px;
    }
}