.outstaffing-service-card {
    position: relative;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 258px;
    border-radius: 30px;
    background: #223642;
}

.outstaffing-service-card__img {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.outstaffing-service-card__title {
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--color-white);
}


.outstaffing-service-card__list li {
    padding-left: 30px;
    position: relative;
}

.outstaffing-service-card__list li:before {
    position: absolute;
    content: '\2022';
    margin-left: -18px;
    color: var(--color-white);
}


.outstaffing-service-card__list li:not(:last-child) {
    margin-bottom: 11px;
}

.outstaffing-service-card__list p {
    font-size: 20px;
    color: #fff;
}