mixin article-bg(img, title, date)
    // card
    .article-bg-card
        .article-bg-card__img
            img(src="./img/presentation/" + img + ".webp", srcset="./img/presentation/" + img + "@2x.webp 2x", alt="article img", loading="lazy")
        .article-bg-card__content
            h3.article-bg-card__title !{title}
            p.article-bg-card__date !{date}