mixin cot-benefit(img, title, text)
    // benefit-card
    .cot-benefit-card
        .cot-benefit-card__img
            svg(class = "svg-" + img)
                use(href="./img/spriteSvg.svg#svg-" + img)
        p.cot-benefit-card__text !{text}
        h3.cot-benefit-card__title !{title}