mixin knowledge-mix(img, title)
    // knowledge-card
    .knowledge-card
        .knowledge-card__img
            img(src="./img/icons/" + img + ".svg", alt="icon")
        a(href="#!").knowledge-card__title !{title}