mixin project-bg(img, title, text)
    // project-card
    .project-card
        .project-card__img
            img(src="./img/templates/" + img + ".webp", srcset="./img/templates/" + img + "@2x.webp 2x", alt="project", loading="lazy")
        .project-card__content
            h3.project-card__title !{title}
            p.project-card__text !{text}