mixin security-service(img, title, text, price)
    // security-service-card
    .security-service-card
        .security-service-card__img
            svg(class = "svg-" + img)
                use(href="./img/spriteSvg.svg#svg-" + img)
        h3.security-service-card__title !{title}
        p.security-service-card__text !{text}
        .security-service-card-bottom
            span.security-service-card__price !{price}