extends ../layouts/layout.pug

block variables
	-var title = "Учебный центр";

block content
	include ../sections/header.pug
	main
		include ../sections/center.pug
		include ../sections/center-benefits.pug
		include ../sections/center-services.pug
		include ../sections/sertificates.pug
		include ../sections/cot-cta.pug
		include ../sections/partners.pug
	include ../sections/footer.pug