extends ../layouts/layout.pug

block variables
	-var title = "Центр Охраны Труда";

block content
	include ../sections/header.pug
	main
		include ../sections/cot.pug
		include ../sections/outstaffing-benefits.pug
	include ../sections/footer.pug