extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header.pug
	main
		include ../sections/outstaffing.pug
		include ../sections/outstaffing-benefits.pug
		include ../sections/steps.pug
		include ../sections/outstaffing-prices.pug
		include ../sections/outstaffing-services.pug
		include ../sections/cta.pug
		include ../sections/staff.pug
		include ../sections/advantages.pug
	include ../sections/footer.pug





