extends ../layouts/layout.pug

block variables
	-var title = "Школа охранников Центр Содействия";

block content
	include ../sections/header.pug
	main
		include ../sections/school.pug
		include ../sections/school-benefits.pug
		include ../sections/school-services.pug
		include ../sections/med-services.pug
	include ../sections/footer.pug