extends ../layouts/layout.pug

block variables
	-var title = "Шаблоны";

block content
	include ../sections/typography.pug
	include ../sections/breadcrumbs.pug
	main
		include ../sections/security.pug
		include ../sections/security-benefits.pug
		include ../sections/security-services.pug
		include ../sections/objects.pug
		include ../sections/cot-cta.pug
		include ../sections/partners.pug
	include ../sections/footer.pug