extends ../layouts/layout.pug

block variables
	-var title = "Шаблоны";

block content
	include ../sections/header.pug
	main
		include ../sections/sout.pug
		.white-wrapper
			include ../blocks/breadcrumbs.pug
			include ../sections/typography.pug
			include ../blocks/anchor-block.pug
			include ../blocks/templates-form-block.pug
			include ../sections/articles.pug
			include ../sections/thesises.pug
			include ../blocks/articles-author.pug
			include ../blocks/contents.pug
			include ../blocks/download-docs.pug
			include ../blocks/catalog-docs.pug
			include ../blocks/doc-banner.pug
			include ../sections/services.pug
			include ../sections/variants.pug
			include ../sections/result.pug
			include ../sections/other-services.pug
			include ../sections/privileges.pug
			include ../sections/activities.pug
			include ../sections/tables.pug
			include ../blocks/accordeon.pug
			include ../blocks/accordeon-table.pug
			include ../sections/top-projects.pug
			include ../sections/licenses.pug
			include ../blocks/slider-sout.pug
			include ../blocks/slider-projects.pug
			include ../blocks/slider-review.pug
			include ../blocks/slider-logos.pug
			include ../sections/vacancies.pug
			include ../sections/contacts.pug
	include ../sections/footer.pug