extends ../layouts/layout.pug

block variables
	-var title = "Шаблоны";

block content
	include ../sections/typography.pug
	include ../blocks/breadcrumbs.pug
	include ../blocks/anchor-block.pug
	include ../sections/articles.pug
	include ../sections/thesises.pug
	include ../blocks/contents.pug
	include ../blocks/download-docs.pug
	include ../blocks/catalog-docs.pug
	include ../blocks/doc-banner.pug