extends ../layouts/layout.pug

block variables
	-var title = "Шаблоны";

block content
	include ../sections/typography.pug
	include ../sections/breadcrumbs.pug
	include ../sections/anchor-block.pug
	include ../sections/articles.pug
	include ../sections/thesises.pug
