extends ../layouts/layout.pug

block variables
	-var title = "Медицинский центр UNIONMED";

block content
	include ../sections/header.pug
	main
		include ../sections/unionmed.pug
		include ../sections/unionmed-benefits.pug
		include ../sections/unionmed-services.pug
		include ../sections/documents.pug
		include ../sections/cot-cta.pug
		include ../sections/partners.pug
	include ../sections/footer.pug