include ../mixins/mixins.pug

block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="libs/swiper.min.css")
        link(rel="stylesheet", href="css/main.css")

        title #{title}

        style.
            @font-face {
                font-family: 'Fira Sans';
                src: local('Fira Sans Regular'), local('FiraSans-Regular'),
                url('./fonts/FiraSans-Regular.woff2') format('woff2');
                font-display: swap;
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'Fira Sans';
                src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
                url('./fonts/FiraSans-SemiBold.woff2') format('woff2');
                font-display: swap;
                font-weight: 600;
                font-style: normal;
            }
            @font-face {
                font-family: 'Fira Sans';
                src: local('Fira Sans Medium'), local('FiraSans-Medium'),
                url('./fonts/FiraSans-Medium.woff2') format('woff2');
                font-display: swap;
                font-weight: 500;
                font-style: normal;
            }
            @font-face {
                font-family: 'Fira Sans';
                src: local('Fira Sans Bold'), local('FiraSans-Bold'),
                url('./fonts/FiraSans-Bold.woff2') format('woff2');
                font-display: swap;
                font-weight: bold;
                font-style: normal;
            }
            @font-face {
                font-family: 'Fira Sans Condensed';
                src: local('Fira Sans Condensed SemiBold'), local('FiraSansCondensed-SemiBold'),
                url('./fonts/FiraSansCondensed-SemiBold.woff2') format('woff2');
                font-display: swap;
                font-weight: 600;
                font-style: normal;
            }
            @font-face {
                font-family: 'Fira Sans Condensed';
                src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'),
                url('./fonts/FiraSansCondensed-Regular.woff2') format('woff2');
                font-display: swap;
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'Fira Sans Condensed';
                src: local('Fira Sans Condensed Light Italic'), local('FiraSansCondensed-LightItalic'),
                url('./fonts/FiraSansCondensed-LightItalic.woff2') format('woff2');
                font-display: swap;
                font-weight: 300;
                font-style: italic;
            }
            @font-face {
                font-family: 'Fira Sans Condensed';
                src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'),
                url('./fonts/FiraSansCondensed-Medium.woff2') format('woff2');
                font-display: swap;
                font-weight: 500;
                font-style: normal;
            }
            @font-face {
                font-family: 'Fira Sans Condensed Book';
                src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'),
                url('./fonts/fira_sans_condensed_book.woff2') format('woff2');
                font-display: swap;
                font-weight: 500;
                font-style: normal;
            }

    body

        block content

        script(src="libs/swiper.js")
        script(src="js/main.js")